/********
GENERAL
********/
html{
    background-color: #222222;
}

footer{
    display: block;
}

.marco{

}

.barra{
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    }
.menu{
    display: inline-block;
    width: 50%;
}
.logo-cont{
    display:inline-block;
}

.imagen{
    display:inline-block;
    float: left;
    margin:0;
    width: 33%;
    overflow: hidden;
}

.imgi{
    width: 100%;
}

.infoi {
    opacity: 0.1;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    z-index: 30;
    width: 33%;
    -webkit-animation: desaparece 0.5s ease-out;
    -moz-animation: desaparece 0.5s ease-out;
    -o-animation: desaparece 0.5s ease-out;
    animation: desaparece 0.5s ease-out;
    background-color: rgba(0, 0, 0, 0);
}

.infoi:hover{
    -webkit-animation: aparece 0.5s ease-out;
    -moz-animation: aparece 0.5s ease-out;
    -o-animation: aparece 0.5s ease-out;
    animation: aparece 0.5s ease-out;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes aparece {
    0% { opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
    100% {opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
}

@-moz-keyframes aparece {
    0% { opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
    100% {opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
}

@-o-keyframes aparece {
    0% { opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
    100% {opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
}

@keyframes aparece {
    0% { opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
    100% {opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
}

@-webkit-keyframes desaparece {
    0% { opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
    100% {opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
}

@-moz-keyframes desaparece {
    0% { opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
    100% {opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
}
@-o-keyframes desaparece {
    0% { opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
    100% {opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
}
@keyframes desaparece {
    0% { opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    }
    100% {opacity: 0.2;
    background-color: rgba(0, 0, 0, 0);
    }
}
.infoibox{
    position: absolute;
}

.item-nombre,
.item-tipo{
}

img{
    width: 100%;
}

/********
CARGADOR
********/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #222222;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    z-index: 1001;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-360deg);
        }
    }
    @keyframes spin {
        0%   { 
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -ms-transform: rotate(360deg);
            transform: rotate(-360deg);
        }
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
        transition: all 0.3s ease-out;
    }

    .loaded #loader,
    .loaded #loader:before,
    .loaded #loader:after{
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }

    .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }


/********
PARALAX
********/
#slide-2{
    position: relative; 
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}

#slide-1,
#slide-3 {
    position: relative; 
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

/* Slide 1 */
#slide-1 {
    background-image:url('index-files/6.jpg');
    overflow: hidden;
}

/* Slide 3 */
#slide-3 {
    background-image:url('index-files/7.jpg');
    overflow: hidden;
}
