/*PAGINA*
*******************************************************************************************************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: white;
	font-size: 15px;
	overflow-y: auto;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	font-family: gothic,sans-serif; 
}

@font-face{
	font-family: konin;
	src: url("konin.otf");
}

@font-face{
	font-family: gothic;
	src: url("gothic.ttf");
}

@media (max-width: 400px){
	*{
		font-size: 13px;
	}
}

html {
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
	height: 100%;
	min-height: 100%;
	background-color: black;
	width: 100%;
}

#cuerpo{
	min-height: 65%;
}

.cuerpo1{
	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}

.cuerpo2{
	-webkit-transition: all .65s ease-in-out;
	-moz-transition: all .65s ease-in-out;
	-o-transition: all .65s ease-in-out;
	-ms-transition: all .65s ease-in-out;
	transition: all .65s ease-in-out;
}

/*GRILLA*
*******************************************************************************************************************/
/*Características generales*/
.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12,
.m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8,.m9,.m10,.m11,.m12,
.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9,.l10,.l11,.l12{
	display: inline-block;
	float:left;
	background-color: transparent;
	vertical-align: top;
}
/*Tamaños*/
.s1{ width: 8.3333%;}
.s2{ width: 16.6667%;}
.s3{ width: 25%;}
.s4{ width: 33.3333%;}
.s5{ width: 41.6667%;}
.s6{ width: 50%;}
.s7{ width: 58.3333%;}
.s8{ width: 66.6667%;}
.s9{ width: 75%;}
.s10{ width: 83.3333%;}
.s11{ width: 91.6667%;}
.s12{ width: 100%;}

@media (min-width: 400px){
	.m1{ width: 8.3333%; }
	.m2{ width: 16.6667%; }
	.m3{ width: 25%; }
	.m4{ width: 33.3333%; }
	.m5{ width: 41.6667%; }
	.m6{ width: 50%; }
	.m7{ width: 58.3333%; }
	.m8{ width: 66.6667%; }
	.m9{ width: 75%; }
	.m10{ width: 83.3333%; }
	.m11{ width: 91.6667%; }
	.m12{ width: 100%; }
}

@media (min-width: 700px){
	.l1{ width: 8.3333%; }
	.l2{ width: 16.6667%; }
	.l3{ width: 25%; }
	.l4{ width: 33.3333%; }
	.l5{ width: 41.6667%; }
	.l6{ width: 50%; }
	.l7{ width: 58.3333%; }
	.l8{ width: 66.6667%; }
	.l9{ width: 75%; }
	.l10{ width: 83.3333%; }
	.l11{ width: 91.6667%; }
	.l12{ width: 100%; }
}

/*Márgenes*/
	.s1:first-child,.s2:first-child,.s3:first-child,.s4:first-child,.s5:first-child,.s6:first-child,.s7:first-child,.s8:first-child,.s9:first-child,.s10:first-child,.s11:first-child,
	.m1:first-child,.m2:first-child,.m3:first-child,.m4:first-child,.m5:first-child,.m6:first-child,.m7:first-child,.m8:first-child,.m9:first-child,.m10:first-child,.m11:first-child,
	.l1:first-child,.l2:first-child,.l3:first-child,.l4:first-child,.l5:first-child,.l6:first-child,.l7:first-child,.l8:first-child,.l9:first-child,.l10:first-child,.l11:first-child{
		margin-left: 0; 		
	}


.parte:nth-child(1n+0){
	background-color:red;
	color:black;
	height: 3rem;
}

.parte:nth-child(2n+0){
	background-color:blue;
	color:black;
	height: 3rem;
}

.parte:nth-child(3n+0){
	background-color:green;
	color:black;
	height: 3rem;
}


/*MENU*
*******************************************************************************************************************/

.header,
.editor-header {
	position: relative;
	width: 100%;
	background: #ffffff;
	z-index: 10;
	border-radius: 1px;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .05);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .05);
	-webkit-transition: all .65s ease-in-out;
	-moz-transition: all .65s ease-in-out;
	-o-transition: all .65s ease-in-out;
	-ms-transition: all .65s ease-in-out;
	transition: all .65s ease-in-out;
}

.editor-header a div{
	display: flex;
	justify-content: center;
}

.editor-header p{
	display: inline-block;
	margin-left: -80px;
	margin-top: 30px; 
	padding: 5px;
	text-align: center;
	color: #E866BA;
	font-weight: bold;
	font-size: 1.5rem;
	-webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

.editor-header img{
	display:inline-block;
	margin: 0 auto 15px;
	padding: 5px;
	height: 50px;
}

.menu-barra {
	position: relative;
	overflow: hidden;
	height: 70px;
	border-bottom: 2px solid rgba(145, 216, 246, 1);
}

.menu-icono-out {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 1rem;
	height: 25px;
}

.menu-icono-in {
	display: inline block;
	height: 20px;
	width: 20px;
}

.menu-icono-off,
.menu-icono-on {
	display: block;
	float: left;
	position: relative;
	cursor: pointer;
	height: 25px;
	padding-top: .6rem;
}

.menu-icono-on > span,
.menu-icono-on:before,
.menu-icono-on:after,
.menu-icono-off > span,
.menu-icono-off:before,
.menu-icono-off:after {
	position: relative;
	display: block;
	top: 0;
	width: 20px;
	height: 2px;
	background: #333333;
}

.menu-icono-on > span {
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	-ms-transition: opacity 200ms;
	transition: opacity 200ms;
}

.menu-icono-off > span {
	-webkit-transition: opacity 200ms 200ms;
	-moz-transition: opacity 200ms 200ms;
	-o-transition: opacity 200ms 200ms;
	-ms-transition: opacity 200ms 200ms;
	transition: opacity 200ms 200ms;
}

.menu-icono-on:before,
.menu-icono-on:after,
.menu-icono-off:before,
.menu-icono-off:after {
	-webkit-transition: transform 460ms, top 460ms;
	-moz-transition: transform 460ms, top 460ms;
	-o-transition: transform 460ms, top 460ms;
	-ms-transition: transform 460ms, top 460ms;
	transition: transform 460ms, top 460ms;
}

.menu-icono-on > span,
.menu-icono-on:before,
.menu-icono-on:after,
.menu-icono-off > span,
.menu-icono-off:before,
.menu-icono-off:after {
	content: '';
}

.menu-icono-off span {
	margin: 4px 0;
	opacity: 1;
}

.menu-icono-on:before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 2px;
}

.menu-icono-on span {
	opacity: 0;
}

.menu-icono-on:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -2px;
}

.logo-out {
	position: absolute;
	display: block;
	padding: 0 1rem;
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}

.logo-in img {
	max-height: 40px;
	margin: 0 auto !important;
	max-width: 100%;
}

.logo-in,
.logo-in * {
	display: block;
	margin: 0 auto !important;
}

.menu-lista {
	list-style: none;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.menu-item {
	display: block !important;
	vertical-align: middle;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
	overflow:hidden;
}

.menu-item a * {
	padding: 1rem .5rem;
	color: #444;
	font: "Montserrat";
	font-size: 1.1rem;
	cursor: pointer;
	text-transform: uppercase;
}

.menu-item a *:hover {
	color: black;
	-webkit-transition: color .3s ease-in-out;
	-moz-transition: color .3s ease-in-out;
	-o-transition: color .3s ease-in-out;
	-ms-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}

.menu-pop-off,
.menu-pop-on {
	z-index: 9;
	width: 100%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	position: absolute;
	overflow: hidden;
	background: #ffffff;
	-webkit-transition: height .35s ease-in-out;
	-moz-transition: height .35s ease-in-out;
	-o-transition: height .35s ease-in-out;
	-ms-transition: height .35s ease-in-out;
	transition: height .35s ease-in-out;
}

.menu-pop-on {
	height: 3.1rem;
}

.menu-pop-off {
	height: 0;
}

.menu-p-off {
	-webkit-transition: opacity .35s;
	-moz-transition: opacity .35s;
	-o-transition: opacity .35s;
	-ms-transition: opacity .35s;
	transition: opacity .35s;
}

.menu-p-on {
	-webkit-transition: opacity .3s .4s;
	-moz-transition: opacity .3s .4s;
	-o-transition: opacity .3s .4s;
	-ms-transition: opacity .3s .4s;
	transition: opacity .3s .4s;
}

.menu-p-on {
	opacity: 1;
}

.menu-p-off {
	opacity: 0;
}

.overlay-off {
	opacity: 0;
	z-index: -1;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .75);
	-webkit-transition: opacity .35s .25s, z-index .1s ease-in-out 1s;
	-moz-transition: opacity .35s .25s, z-index .1s ease-in-out 1s;
	-o-transition: opacity .35s .25s, z-index .1s ease-in-out 1s;
	-ms-transition: opacity .35s .25s, z-index .1s ease-in-out 1s;
	transition: opacity .35s .25s, z-index .1s ease-in-out 1s;
}

.overlay-on {
	opacity: 1;
	z-index: 5;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .75);
	-webkit-transition: opacity .35s .15s;
	-moz-transition: opacity .35s .15s;
	-o-transition: opacity .35s .15s;
	-ms-transition: opacity .35s .15s;
	transition: opacity .35s .15s;
}

@media (max-width: 500px) {
	.container {
		padding: 1rem 1.5rem;
	}
	#header > .container {
		padding: 0 1rem;
	}
	.menu-pop .container {
		padding: 1rem;
	}
	.logo-out {
		padding-left: 3rem;
	}
	.logo-in img {
		max-height: 40px;
		margin: 0 auto !important;
		max-width: 100%;
	}
	.logo-in,
	.logo-in * {
		display: block;
		margin: 0 auto !important;
	}
	.menu-pop-on {
		height: 100%;
		padding: 1rem;
	}
	.menu-lista {
		display: block;
		padding: .5rem;
	}
	.menu-item {
		display: block;
		width: 100%;
		padding: .5rem;
	}
	.menu-lista {
		display: block;
		padding: .5rem;
	}
	.menu-item {
		display: block;
		width: 100%;
		padding: .5rem;
	}
	.menu-item a * {
		padding: .5rem .2rem;
		font-size: 1rem;
		text-align: center;
	}
}

/*Pop-up
*******************************************************************************************************************/
.pop {
	position: absolute;
	width: 100%;
	z-index: 5;
	background-color:#E866BA;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size:0;
	height:0px;
	padding-top:0;
	padding-bottom:0;

	animation-name: popup;
	animation-duration: 3s;
	-webkit-animation-name: popup;
	-webkit-animation-duration: 3s;
}

@keyframes popup {
	0%     {height:0;font-size:0;}
	10%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	90%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	100%   {height:0;font-size:0;}
}
@-webkit-keyframes popup {
	0%     {height:0;font-size:0;}
	10%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	90%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	100%   {height:0;font-size:0;}
}


/*SECCIONES*
*******************************************************************************************************************/

.item2 *:not(img) {
	padding: .5rem;
}

.item2 img {
	max-width: 5rem;
	max-height: 5rem;
}

.item4{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.item4 *{
	display: inline-flex;
}

.vinculo{
	margin: 1.5rem 1rem;
}


/*FORMULARIO*
*******************************************************************************************************************/

.entrada{
	display:block;
	margin: auto;
	width: 60%;
	min-width: 150px;
	color:#555555;
	padding: .5rem;
	font-weight: bold;
}

.boton{
	display:block;
	margin: auto;
	padding: 1rem;
	color: white;
	background-color: transparent;
	border: 3px solid white;
	font-weight: bold;
	font-size: 1.2rem;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.boton:hover{
	background-color: rgba(145, 216, 246, .7);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}



/*PIE*
*******************************************************************************************************************/

.pre-footer{
	height: 5px;
	width: 100%;
	background-image: url(../img/web/linea.svg);
	background-size: 100% 100%;
}
footer{
	background-color: #fff;
}

footer a{
	color: #C85DA5;
}

footer p{
	color: #61C6E6;
	padding-bottom: 1em;
}

footer div{
	max-width: 300px;
	margin: 0 0 0 2rem;
	background-color: rgba(256, 256, 256, .8);
	box-shadow: 0 0 5px 3px white;
}

.copyright, .copyright *{
	position: ;
	display: block;
	font-size: 0.5rem;
	padding: 0;
	margin: 0 0.2rem;
	bottom: 0;
	text-align: center;
}

/*IMAGENES y COLORES*
*******************************************************************************************************************/

/*IMGs*/
img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
}

.flex img{
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

.h-max-1{max-height: 1em;}
.h-max-2{max-height: 2em;}
.h-max-3{max-height: 3em;}
.h-max-4{max-height: 4em;}
.h-max-5{max-height: 5em;}
.h-max-6{max-height: 6em;}
.w-max-1{max-width: 1em;}
.w-max-2{max-width: 2em;}
.w-max-3{max-width: 3em;}
.w-max-4{max-width: 4em;}
.w-max-5{max-width: 5em;}
.w-max-6{max-width: 6em;}
.w-max-15{max-width: 15em;}

.fondo1 {
	background-image: url('../img/web/fondo1.png');
	background-size: 100% 100%;
}

.fondo2 {
	background-image: url('../img/web/dulces.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.fondo3 {
	background-image: url('../img/web/fondo1.png');
	background-repeat: repeat-y;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*Blanco*/
.color1 {
	background-color: rgba(256, 256, 256, .6);
}

.t-color1 * {
	color: rgb(256, 256, 256);
}

/*Negro*/
.color2 {
	background-color: rgba(0, 0, 0, .6);
}

.t-color2 * {
	color: rgb(0, 0, 0);
}

/*Rosado  MSC*/
.color3 {
	background-color: rgba(232, 102, 186, .4);
}

.t-color3 * {
	color: rgb(232, 102, 186);
}

/*Celeste  MSC*/
.color4 {
	background-color: rgba(145, 216, 246, .7);
}

.t-color4 * {
	color: rgb(145, 216, 246);
}




/*TEXTOS*
*******************************************************************************************************************/
h1{font-size: 1.5rem;}
h2{font-size: 1.4rem;}
h3{font-size: 1.3rem;}
h4{font-size: 1.2rem;}
h5{font-size: 1.1rem;}
h6{font-size: 1rem;}
h1, h2, h3, h4, h5, h6, .palabra, #palabra{
	font-weight: bold; font-family: konin, sans-serif; text-align: center;}

.font-01{font-size: .1rem;}
.font-02{font-size: .2rem;}
.font-03{font-size: .3rem;}
.font-04{font-size: .4rem;}
.font-05{font-size: .5rem;}
.font-1{font-size: 1rem;}
.font-11{font-size: 1.1rem;}
.font-12{font-size: 1.2rem;}
.font-13{font-size: 1.3rem;}
.font-14{font-size: 1.4rem;}
.font-15{font-size: 1.5rem;}

.mayuscula{	text-transform: uppercase; }

.justificado{ text-align: justify; }

.centrado{
	text-align: center;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}


/*DESAPARECEN*
*******************************************************************************************************************/
@media (max-width: 400px){
	.s-noveo{
		display: none;
	}
}

@media (min-width:401px) and (max-width: 700px){
	.m-noveo{
		display: none;		
	}
}

@media (min-width: 701px){
	.l-noveo{
		display: none;		
	}
}


/*BLOG Y RELACIONADOS*
*******************************************************************************************************************/

/*BLOG*
*****************/
.blog{
	width: 80%;
	margin: auto;
	text-align: justify;
}

.blog img{
	display: block;
	padding: 2rem;
	max-width:100%;
	max-height: 40rem;
	margin: auto;
}

.blog a{
	color: rgb(232, 102, 186);
}

.blog h1,.blog h2,.blog h3,.blog h4,.blog h5,.blog h6{
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #000;
}

.blog p{
	text-align: justify;
	color: #000;
}

@media (max-width: 700px){
	.blog{
		width: 85%;	
	}
}

@media (max-width: 400px){
	.blog{
		margin-left: 35px;
		margin-right: 5px; 
		width: auto;	
	}

	.blog h1,.blog h2,.blog h3,.blog h4,.blog h5,.blog h6{
		font-size: 1rem;
	}
}


/*SOCIAL DE BLOG*
*****************/
.social{
	z-index: 3;
	position: fixed;
	float: left;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 5px;	
}

.social .rs{
	height: 2rem;
	width: 2rem;
	margin-top: 5px;
	display: block;
}

.social .rs a{
	width: 2rem;
	height: 2rem;
	display: block;
}

.social .rs.facebook{
	background-image: url('../img/web/facebook.svg');
	background-size: contain;
}

.social .rs.twitter{
	background-image: url('../img/web/twitter.png');
	background-size: contain;
}

.social .rs.googleplus{
	background-image: url('../img/web/google+.png');
	background-size: contain;
}

.social .rs.linkedin{
	background-image: url('../img/web/linkedin.png');
	background-size: contain;
}

.social .rs.pinterest{
	background-image: url('../img/web/pinterest.png');
	background-size: contain;
}

.social .rs.email{
	background-image: url('../img/web/email.png');
	background-size: contain;
}

/*EDITOR DE BLOG*
*****************/
.blog-entrada *{
	font-family: arial !important ;
}

#blog-lista .sec h3,
.blog-entrada .sec h3 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5rem;
	word-wrap: break-word;
}

#blog-lista .sec p,
.blog-entrada .sec p {
	position: relative;
	text-align: justify;
	font-size: 1rem;
	line-height: 1rem;
	height: 3.1rem;
	overflow: hidden;
}
#blog-lista .sec p:after,
.blog-entrada .sec p:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 1rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);
}

#blog-lista .sec img,
.blog-entrada .sec img {
	display: block;
	padding: 1rem;
	max-width:100%;
	max-height: 40rem;
	margin: auto;
}

.blog-img{
	width:24%;
	display:inline-flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;	 
}

.blog-img div img {
	margin: auto;
	display: block;
}

/*PALABRA*
*******************************************************************************************************************/

.palabra{
	padding: 2rem 1rem ;
	text-align: left;
	text-transform: uppercase;
	font-size: 3rem;
	color:black;
	text-align: center;
}

#palabra{
	display: block;
	margin-top: 2rem;
	font-size: 3rem;
	color: rgb(232, 102, 186)
}

@media (max-width: 350px){
	.palabra, #palabra{
		font-size: 2rem;
	}
}

@media (max-width: 200px){
	.palabra, #palabra{
		font-size: 1.3rem;
	}
}


/*GALERIA*
*******************************************************************************************************************/
.img_info {
    overflow: hidden
}

.grid {
    margin: auto
}

.img_info {
    position: absolute
}

.grid {
    width: auto;
    max-width: 100%
}

.img_info {
    display: inline-flex;
    width: 100%;
    height: 100%;
    opacity: .8;
    -webkit-animation: desaparece .35s ease-out;
    -moz-animation: desaparece .35s ease-out;
    -o-animation: desaparece .35s ease-out;
    animation: desaparece .35s ease-out;
    background-color: rgba(0, 0, 0, 0)
}

.img_info:hover {
    opacity: 1;
    -webkit-animation: aparece .35s ease-out;
    -moz-animation: aparece .35s ease-out;
    -o-animation: aparece .35s ease-out;
    animation: aparece .35s ease-out;
    background-color: rgba(150, 150, 250, .1)
}

@-webkit-keyframes aparece {
    0% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
    100% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
}

@-moz-keyframes aparece {
    0% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
    100% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
}

@-o-keyframes aparece {
    0% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
    100% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
}

@keyframes aparece {
    0% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
    100% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
}

@-webkit-keyframes desaparece {
    0% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
    100% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
}

@-moz-keyframes desaparece {
    0% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
    100% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
}

@-o-keyframes desaparece {
    0% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
    100% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
}

@keyframes desaparece {
    0% {
        opacity: 1;
        background-color: rgba(150, 150, 250, .1)
    }
    100% {
        opacity: .8;
        background-color: rgba(0, 0, 0, 0)
    }
}

@keyframes pop {
    0%,
    100% {
        height: 0;
        font-size: 0
    }
    10%,
    90% {
        height: 1.8rem;
        font-size: 1rem
    }
}

@-webkit-keyframes pop {
    0%,
    100% {
        height: 0;
        font-size: 0
    }
    10%,
    90% {
        height: 1.8rem;
        font-size: 1rem
    }
}

.grid:after {
    content: '';
    display: block;
    clear: both
}

.grid-item,
.grid-sizer {
    width: 33.333%;
    float: left
}

.grid-item img {
    display: block;
    width: 100%
}

@media (max-width:700px) {
    .grid-item,
    .grid-sizer {
        width: 50%
    }
}

@media (max-width:400px) {
    .grid-item,
    .grid-sizer {
        width: 100%
    }
    .entrada {
        width: 95%
    }
}

@media (max-width:800px) {
    .entrada {
        width: 60%
    }
}


/*DISPLAY*
*******************************************************************************************************************/
.d-block{display: block;}
.d-inline-block{display: inline-block;}
.d-inline{display: inline;}
.d-flex{display: flex; flex-wrap: wrap;}
.d-inline-flex{display: inline-flex;}
.d-none{display: none;}

/*PADDING y MARGIN*
*******************************************************************************************************************/
.s-pad-0{padding: 0;}
.s-pad-1{padding: 1rem;}
.s-pad-2{padding: 2rem;}
.s-pad-3{padding: 3rem;}
.s-pad-4{padding: 4rem;}
.s-pad-5{padding: 5rem;}
.s-pad-6{padding: 6rem;}
.s-pad-0{padding: 0;}
.s-pad-v-0{padding-top: 0;	padding-bottom: 0;}
.s-pad-v-1{padding-top: 1rem;	padding-bottom: 1rem;}
.s-pad-v-2{padding-top: 2rem;	padding-bottom: 2rem;}
.s-pad-v-3{padding-top: 3rem;	padding-bottom: 3rem;}
.s-pad-v-4{padding-top: 4rem;	padding-bottom: 4rem;}
.s-pad-v-5{padding-top: 5rem;	padding-bottom: 5rem;}
.s-pad-v-6{padding-top: 6rem;	padding-bottom: 6rem;}
.s-pad-h-0{padding-left: 0; padding-right: 0;}
.s-pad-h-1{padding-left: 1rem; padding-right: 1rem;}
.s-pad-h-2{padding-left: 2rem; padding-right: 2rem;}
.s-pad-h-3{padding-left: 3rem; padding-right: 3rem;}
.s-pad-h-4{padding-left: 4rem; padding-right: 4rem;}
.s-pad-h-5{padding-left: 5rem; padding-right: 5rem;}
.s-pad-h-6{padding-left: 6rem; padding-right: 6rem;}
.s-pad-t-0{padding-top: 0;}
.s-pad-t-1{padding-top: 1rem;}
.s-pad-t-2{padding-top: 2rem;}
.s-pad-t-3{padding-top: 3rem;}
.s-pad-t-4{padding-top: 4rem;}
.s-pad-t-5{padding-top: 5rem;}
.s-pad-t-6{padding-top: 6rem;}
.s-pad-b-0{padding-bottom: 0;}
.s-pad-b-1{padding-bottom: 1rem;}
.s-pad-b-2{padding-bottom: 2rem;}
.s-pad-b-3{padding-bottom: 3rem;}
.s-pad-b-4{padding-bottom: 4rem;}
.s-pad-b-5{padding-bottom: 5rem;}
.s-pad-b-6{padding-bottom: 6rem;}

.s-marg-0{margin: 0;}
.s-marg-v-0{margin-top: 0;	margin-bottom: 0;}
.s-marg-h-0{margin-left: 0; margin-right: 0;}
.s-marg-1{margin: 1rem;}
.s-marg-v-1{margin-top: 1rem;	margin-bottom: 1rem;}
.s-marg-h-1{margin-left: 1rem; margin-right: 1rem;}
.s-marg-2{margin: 2rem;}
.s-marg-v-2{margin-top: 2rem;	margin-bottom: 2rem;}
.s-marg-h-2{margin-left: 2rem; margin-right: 2rem;}
.s-marg-3{margin: 3rem;}
.s-marg-v-3{margin-top: 3rem;	margin-bottom: 3rem;}
.s-marg-h-3{margin-left: 3rem; margin-right: 3rem;}
.s-marg-4{margin: 4rem;}
.s-marg-v-4{margin-top: 4rem;	margin-bottom: 4rem;}
.s-marg-h-4{margin-left: 4rem; margin-right: 4rem;}
.s-marg-5{margin: 5rem;}
.s-marg-v-5{margin-top: 5rem;	margin-bottom: 5rem;}
.s-marg-h-5{margin-left: 5rem; margin-right: 5rem;}
.s-marg-6{margin: 6rem;}
.s-marg-v-6{margin-top: 6rem;	margin-bottom: 6rem;}
.s-marg-h-6{margin-left: 6rem; margin-right: 6rem;}
.s-marg-t-0{margin-top: 0rem;}
.s-marg-t-1{margin-top: 1rem;}
.s-marg-t-2{margin-top: 2rem;}
.s-marg-t-3{margin-top: 3rem;}
.s-marg-t-4{margin-top: 4rem;}
.s-marg-t-5{margin-top: 5rem;}
.s-marg-t-6{margin-top: 6rem;}
.s-marg-b-0{margin-bottom: 0;}
.s-marg-b-1{margin-bottom: 1rem;}
.s-marg-b-2{margin-bottom: 2rem;}
.s-marg-b-3{margin-bottom: 3rem;}
.s-marg-b-4{margin-bottom: 4rem;}
.s-marg-b-5{margin-bottom: 5rem;}
.s-marg-b-6{margin-bottom: 6rem;}

@media (min-width: 400px){
	.m-pad-0{padding: 0;}
	.m-pad-1{padding: 1rem;}
	.m-pad-2{padding: 2rem;}
	.m-pad-3{padding: 3rem;}
	.m-pad-4{padding: 4rem;}
	.m-pad-5{padding: 5rem;}
	.m-pad-6{padding: 6rem;}
	.m-pad-0{padding: 0;}
	.m-pad-v-0{padding-top: 0;	padding-bottom: 0;}
	.m-pad-v-1{padding-top: 1rem;	padding-bottom: 1rem;}
	.m-pad-v-2{padding-top: 2rem;	padding-bottom: 2rem;}
	.m-pad-v-3{padding-top: 3rem;	padding-bottom: 3rem;}
	.m-pad-v-4{padding-top: 4rem;	padding-bottom: 4rem;}
	.m-pad-v-5{padding-top: 5rem;	padding-bottom: 5rem;}
	.m-pad-v-6{padding-top: 6rem;	padding-bottom: 6rem;}
	.m-pad-h-0{padding-left: 0; padding-right: 0;}
	.m-pad-h-1{padding-left: 1rem; padding-right: 1rem;}
	.m-pad-h-2{padding-left: 2rem; padding-right: 2rem;}
	.m-pad-h-3{padding-left: 3rem; padding-right: 3rem;}
	.m-pad-h-4{padding-left: 4rem; padding-right: 4rem;}
	.m-pad-h-5{padding-left: 5rem; padding-right: 5rem;}
	.m-pad-h-6{padding-left: 6rem; padding-right: 6rem;}
	.m-pad-t-0{padding-top: 0;}
	.m-pad-t-1{padding-top: 1rem;}
	.m-pad-t-2{padding-top: 2rem;}
	.m-pad-t-3{padding-top: 3rem;}
	.m-pad-t-4{padding-top: 4rem;}
	.m-pad-t-5{padding-top: 5rem;}
	.m-pad-t-6{padding-top: 6rem;}
	.m-pad-b-0{padding-bottom: 0;}
	.m-pad-b-1{padding-bottom: 1rem;}
	.m-pad-b-2{padding-bottom: 2rem;}
	.m-pad-b-3{padding-bottom: 3rem;}
	.m-pad-b-4{padding-bottom: 4rem;}
	.m-pad-b-5{padding-bottom: 5rem;}
	.m-pad-b-6{padding-bottom: 6rem;}

	.m-marg-0{margin: 0;}
	.m-marg-v-0{margin-top: 0;	margin-bottom: 0;}
	.m-marg-h-0{margin-left: 0; margin-right: 0;}
	.m-marg-1{margin: 1rem;}
	.m-marg-v-1{margin-top: 1rem;	margin-bottom: 1rem;}
	.m-marg-h-1{margin-left: 1rem; margin-right: 1rem;}
	.m-marg-2{margin: 2rem;}
	.m-marg-v-2{margin-top: 2rem;	margin-bottom: 2rem;}
	.m-marg-h-2{margin-left: 2rem; margin-right: 2rem;}
	.m-marg-3{margin: 3rem;}
	.m-marg-v-3{margin-top: 3rem;	margin-bottom: 3rem;}
	.m-marg-h-3{margin-left: 3rem; margin-right: 3rem;}
	.m-marg-4{margin: 4rem;}
	.m-marg-v-4{margin-top: 4rem;	margin-bottom: 4rem;}
	.m-marg-h-4{margin-left: 4rem; margin-right: 4rem;}
	.m-marg-5{margin: 5rem;}
	.m-marg-v-5{margin-top: 5rem;	margin-bottom: 5rem;}
	.m-marg-h-5{margin-left: 5rem; margin-right: 5rem;}
	.m-marg-6{margin: 6rem;}
	.m-marg-v-6{margin-top: 6rem;	margin-bottom: 6rem;}
	.m-marg-h-6{margin-left: 6rem; margin-right: 6rem;}
	.m-marg-t-0{margin-top: 0rem;}
	.m-marg-t-1{margin-top: 1rem;}
	.m-marg-t-2{margin-top: 2rem;}
	.m-marg-t-3{margin-top: 3rem;}
	.m-marg-t-4{margin-top: 4rem;}
	.m-marg-t-5{margin-top: 5rem;}
	.m-marg-t-6{margin-top: 6rem;}
	.m-marg-b-0{margin-bottom: 0;}
	.m-marg-b-1{margin-bottom: 1rem;}
	.m-marg-b-2{margin-bottom: 2rem;}
	.m-marg-b-3{margin-bottom: 3rem;}
	.m-marg-b-4{margin-bottom: 4rem;}
	.m-marg-b-5{margin-bottom: 5rem;}
	.m-marg-b-6{margin-bottom: 6rem;}
}

@media (min-width: 700px){
	.l-pad-0{padding: 0;}
	.l-pad-1{padding: 1rem;}
	.l-pad-2{padding: 2rem;}
	.l-pad-3{padding: 3rem;}
	.l-pad-4{padding: 4rem;}
	.l-pad-5{padding: 5rem;}
	.l-pad-6{padding: 6rem;}
	.l-pad-0{padding: 0;}
	.l-pad-v-0{padding-top: 0;	padding-bottom: 0;}
	.l-pad-v-1{padding-top: 1rem;	padding-bottom: 1rem;}
	.l-pad-v-2{padding-top: 2rem;	padding-bottom: 2rem;}
	.l-pad-v-3{padding-top: 3rem;	padding-bottom: 3rem;}
	.l-pad-v-4{padding-top: 4rem;	padding-bottom: 4rem;}
	.l-pad-v-5{padding-top: 5rem;	padding-bottom: 5rem;}
	.l-pad-v-6{padding-top: 6rem;	padding-bottom: 6rem;}
	.l-pad-h-0{padding-left: 0; padding-right: 0;}
	.l-pad-h-1{padding-left: 1rem; padding-right: 1rem;}
	.l-pad-h-2{padding-left: 2rem; padding-right: 2rem;}
	.l-pad-h-3{padding-left: 3rem; padding-right: 3rem;}
	.l-pad-h-4{padding-left: 4rem; padding-right: 4rem;}
	.l-pad-h-5{padding-left: 5rem; padding-right: 5rem;}
	.l-pad-h-6{padding-left: 6rem; padding-right: 6rem;}
	.l-pad-t-0{padding-top: 0;}
	.l-pad-t-1{padding-top: 1rem;}
	.l-pad-t-2{padding-top: 2rem;}
	.l-pad-t-3{padding-top: 3rem;}
	.l-pad-t-4{padding-top: 4rem;}
	.l-pad-t-5{padding-top: 5rem;}
	.l-pad-t-6{padding-top: 6rem;}
	.l-pad-b-0{padding-bottom: 0;}
	.l-pad-b-1{padding-bottom: 1rem;}
	.l-pad-b-2{padding-bottom: 2rem;}
	.l-pad-b-3{padding-bottom: 3rem;}
	.l-pad-b-4{padding-bottom: 4rem;}
	.l-pad-b-5{padding-bottom: 5rem;}
	.l-pad-b-6{padding-bottom: 6rem;}

	.l-marg-0{margin: 0;}
	.l-marg-v-0{margin-top: 0;	margin-bottom: 0;}
	.l-marg-h-0{margin-left: 0; margin-right: 0;}
	.l-marg-1{margin: 1rem;}
	.l-marg-v-1{margin-top: 1rem;	margin-bottom: 1rem;}
	.l-marg-h-1{margin-left: 1rem; margin-right: 1rem;}
	.l-marg-2{margin: 2rem;}
	.l-marg-v-2{margin-top: 2rem;	margin-bottom: 2rem;}
	.l-marg-h-2{margin-left: 2rem; margin-right: 2rem;}
	.l-marg-3{margin: 3rem;}
	.l-marg-v-3{margin-top: 3rem;	margin-bottom: 3rem;}
	.l-marg-h-3{margin-left: 3rem; margin-right: 3rem;}
	.l-marg-4{margin: 4rem;}
	.l-marg-v-4{margin-top: 4rem;	margin-bottom: 4rem;}
	.l-marg-h-4{margin-left: 4rem; margin-right: 4rem;}
	.l-marg-5{margin: 5rem;}
	.l-marg-v-5{margin-top: 5rem;	margin-bottom: 5rem;}
	.l-marg-h-5{margin-left: 5rem; margin-right: 5rem;}
	.l-marg-6{margin: 6rem;}
	.l-marg-v-6{margin-top: 6rem;	margin-bottom: 6rem;}
	.l-marg-h-6{margin-left: 6rem; margin-right: 6rem;}
	.l-marg-t-0{margin-top: 0rem;}
	.l-marg-t-1{margin-top: 1rem;}
	.l-marg-t-2{margin-top: 2rem;}
	.l-marg-t-3{margin-top: 3rem;}
	.l-marg-t-4{margin-top: 4rem;}
	.l-marg-t-5{margin-top: 5rem;}
	.l-marg-t-6{margin-top: 6rem;}
	.l-marg-b-0{margin-bottom: 0;}
	.l-marg-b-1{margin-bottom: 1rem;}
	.l-marg-b-2{margin-bottom: 2rem;}
	.l-marg-b-3{margin-bottom: 3rem;}
	.l-marg-b-4{margin-bottom: 4rem;}
	.l-marg-b-5{margin-bottom: 5rem;}
	.l-marg-b-6{margin-bottom: 6rem;}
}

.s-tam-h-0{width: 0}
.s-tam-h-1{width: 10%;}
.s-tam-h-2{width: 20%;}
.s-tam-h-3{width: 30%;}
.s-tam-h-4{width: 40%;}
.s-tam-h-5{width: 50%;}
.s-tam-h-6{width: 60%;}
.s-tam-h-7{width: 70%;}
.s-tam-h-8{width: 80%;}
.s-tam-h-9{width: 90%;}
.s-tam-h-10{width: 100%;}
.s-tam-v-0{height: 0;}
.s-tam-v-1{height: 10%;}
.s-tam-v-2{height: 20%;}
.s-tam-v-3{height: 30%;}
.s-tam-v-4{height: 40%;}
.s-tam-v-5{height: 50%;}
.s-tam-v-6{height: 60%;}
.s-tam-v-7{height: 70%;}
.s-tam-v-8{height: 80%;}
.s-tam-v-9{height: 90%;}
.s-tam-v-10{height: 100%;}

@media (min-width: 400px){
	.m-tam-h-0{width: 0}
	.m-tam-h-1{width: 10%;}
	.m-tam-h-2{width: 20%;}
	.m-tam-h-3{width: 30%;}
	.m-tam-h-4{width: 40%;}
	.m-tam-h-5{width: 50%;}
	.m-tam-h-6{width: 60%;}
	.m-tam-h-7{width: 70%;}
	.m-tam-h-8{width: 80%;}
	.m-tam-h-9{width: 90%;}
	.m-tam-h-10{width: 100%;}
	.m-tam-v-0{height: 0;}
	.m-tam-v-1{height: 10%;}
	.m-tam-v-2{height: 20%;}
	.m-tam-v-3{height: 30%;}
	.m-tam-v-4{height: 40%;}
	.m-tam-v-5{height: 50%;}
	.m-tam-v-6{height: 60%;}
	.m-tam-v-7{height: 70%;}
	.m-tam-v-8{height: 80%;}
	.m-tam-v-9{height: 90%;}
	.m-tam-v-10{height: 100%;}
}

@media (min-width: 700px){
	.l-tam-h-0{width: 0}
	.l-tam-h-1{width: 10%;}
	.l-tam-h-2{width: 20%;}
	.l-tam-h-3{width: 30%;}
	.l-tam-h-4{width: 40%;}
	.l-tam-h-5{width: 50%;}
	.l-tam-h-6{width: 60%;}
	.l-tam-h-7{width: 70%;}
	.l-tam-h-8{width: 80%;}
	.l-tam-h-9{width: 90%;}
	.l-tam-h-10{width: 100%;}
	.l-tam-v-0{height: 0;}
	.l-tam-v-1{height: 10%;}
	.l-tam-v-2{height: 20%;}
	.l-tam-v-3{height: 30%;}
	.l-tam-v-4{height: 40%;}
	.l-tam-v-5{height: 50%;}
	.l-tam-v-6{height: 60%;}
	.l-tam-v-7{height: 70%;}
	.l-tam-v-8{height: 80%;}
	.l-tam-v-9{height: 90%;}
	.l-tam-v-10{height: 100%;}
}


/*DIRECCIÖN*
*******************************************************************************************************************/
.h-min-20{ min-height: 20rem; }
.h-min-25{ min-height: 25rem; }
.h-min-30{ min-height: 30rem; }


/*DIRECCIÖN*
*******************************************************************************************************************/
.dai{
	direction: rtl;
}
.iad{
	direction: ltr;
}
.dai *,
.iad *{
	direction: initial;
}


/*LIGHT GALLERY*
*******************************************************************************************************************/

.lg-sub-html,
.lg-toolbar {
    background-color: rgba(0, 0, 0, .45)
}

#lg-counter,
.lg-outer .lg-video-cont {
    vertical-align: middle;
    display: inline-block
}

.lg-icon {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.lg-actions .lg-next,
.lg-actions .lg-prev {
    background-color: rgba(0, 0, 0, .45);
    border-radius: 2px;
    color: #999;
    cursor: pointer;
    display: block;
    font-size: 22px;
    margin-top: -10px;
    padding: 8px 10px 9px;
    position: absolute;
    top: 50%;
    z-index: 1080
}

.lg-actions .lg-next.disabled,
.lg-actions .lg-prev.disabled {
    pointer-events: none;
    opacity: .5
}

.lg-actions .lg-next:hover,
.lg-actions .lg-prev:hover {
    color: #FFF
}

.lg-actions .lg-next {
    right: 20px
}

.lg-actions .lg-next:before {
    content: "\e095"
}

.lg-actions .lg-prev {
    left: 20px
}

.lg-actions .lg-prev:after {
    content: "\e094"
}

@-webkit-keyframes lg-right-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: -30px
    }
}

@-moz-keyframes lg-right-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: -30px
    }
}

@-ms-keyframes lg-right-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: -30px
    }
}

@keyframes lg-right-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: -30px
    }
}

@-webkit-keyframes lg-left-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: 30px
    }
}

@-moz-keyframes lg-left-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: 30px
    }
}

@-ms-keyframes lg-left-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: 30px
    }
}

@keyframes lg-left-end {
    0%,
    100% {
        left: 0
    }
    50% {
        left: 30px
    }
}

.lg-outer.lg-right-end .lg-object {
    -webkit-animation: lg-right-end .3s;
    -o-animation: lg-right-end .3s;
    animation: lg-right-end .3s;
    position: relative
}

.lg-outer.lg-left-end .lg-object {
    -webkit-animation: lg-left-end .3s;
    -o-animation: lg-left-end .3s;
    animation: lg-left-end .3s;
    position: relative
}

.lg-toolbar {
    z-index: 1082;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.lg-toolbar .lg-icon {
    color: #999;
    cursor: pointer;
    float: right;
    font-size: 24px;
    height: 47px;
    line-height: 27px;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    text-decoration: none!important;
    outline: 0;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear
}

.lg-toolbar .lg-icon:hover {
    color: #FFF
}

.lg-toolbar .lg-close:after {
    content: "\e070"
}

.lg-toolbar .lg-download:after {
    content: "\e0f2"
}

.lg-sub-html {
    bottom: 0;
    color: #EEE;
    font-size: 16px;
    left: 0;
    padding: 10px 40px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1080
}

.lg-sub-html h4 {
    margin: 0;
    font-size: 13px;
    font-weight: 700
}

.lg-sub-html p {
    font-size: 12px;
    margin: 5px 0 0
}

#lg-counter {
    color: #999;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 12px
}

.lg-next,
.lg-prev,
.lg-toolbar {
    opacity: 1;
    -webkit-transition: -webkit-transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear;
    -moz-transition: -moz-transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear;
    -o-transition: -o-transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear;
    transition: transform .35s cubic-bezier(0, 0, .25, 1) 0s, opacity .35s cubic-bezier(0, 0, .25, 1) 0s, color .2s linear
}

.lg-hide-items .lg-prev {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
}

.lg-hide-items .lg-next {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
}

.lg-hide-items .lg-toolbar {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object {
    -webkit-transform: scale3d(.5, .5, .5);
    transform: scale3d(.5, .5, .5);
    opacity: 0;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0, 0, .25, 1) 0s, opacity 250ms cubic-bezier(0, 0, .25, 1)!important;
    -moz-transition: -moz-transform 250ms cubic-bezier(0, 0, .25, 1) 0s, opacity 250ms cubic-bezier(0, 0, .25, 1)!important;
    -o-transition: -o-transform 250ms cubic-bezier(0, 0, .25, 1) 0s, opacity 250ms cubic-bezier(0, 0, .25, 1)!important;
    transition: transform 250ms cubic-bezier(0, 0, .25, 1) 0s, opacity 250ms cubic-bezier(0, 0, .25, 1)!important;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1
}

.lg-outer .lg-thumb-outer {
    background-color: #0D0A0A;
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 1080;
    max-height: 350px;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, .25, 1) 0s;
    -moz-transition: -moz-transform .25s cubic-bezier(0, 0, .25, 1) 0s;
    -o-transition: -o-transform .25s cubic-bezier(0, 0, .25, 1) 0s;
    transition: transform .25s cubic-bezier(0, 0, .25, 1) 0s
}

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.lg-outer .lg-thumb-outer.lg-grabbing .lg-thumb-item {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing
}

.lg-outer .lg-thumb-outer.lg-dragging .lg-thumb {
    -webkit-transition-duration: 0s!important;
    transition-duration: 0s!important
}

.lg-outer.lg-thumb-open .lg-thumb-outer {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.lg-outer .lg-thumb {
    padding: 10px 0;
    height: 100%;
    margin-bottom: -5px
}

.lg-outer .lg-thumb-item {
    cursor: pointer;
    float: left;
    overflow: hidden;
    height: 100%;
    border: 2px solid #FFF;
    border-radius: 4px;
    margin-bottom: 5px
}

@media (min-width:1025px) {
    .lg-outer .lg-thumb-item {
        -webkit-transition: border-color .25s ease;
        -o-transition: border-color .25s ease;
        transition: border-color .25s ease
    }
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
    border-color: #a90707
}

.lg-outer .lg-thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.lg-outer.lg-has-thumb .lg-item {
    padding-bottom: 120px
}

.lg-outer.lg-can-toggle .lg-item {
    padding-bottom: 0
}

.lg-outer.lg-pull-caption-up .lg-sub-html {
    -webkit-transition: bottom .25s ease;
    -o-transition: bottom .25s ease;
    transition: bottom .25s ease
}

.lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html {
    bottom: 100px
}

.lg-outer .lg-toggle-thumb {
    background-color: #0D0A0A;
    border-radius: 2px 2px 0 0;
    color: #999;
    cursor: pointer;
    font-size: 24px;
    height: 39px;
    line-height: 27px;
    padding: 5px 0;
    position: absolute;
    right: 20px;
    text-align: center;
    top: -39px;
    width: 50px
}

.lg-outer .lg-toggle-thumb:hover,
.lg-outer.lg-dropdown-active #lg-share {
    color: #FFF
}

.lg-outer .lg-toggle-thumb:after {
    content: "\e1ff"
}

.lg-outer .lg-video-cont {
    max-width: 1140px;
    max-height: 100%;
    width: 100%;
    padding: 0 5px
}

.lg-outer .lg-video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative
}

.lg-outer .lg-video .lg-object {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important
}

.lg-outer .lg-video .lg-video-play {
    width: 84px;
    height: 59px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -42px;
    margin-top: -30px;
    z-index: 1080;
    cursor: pointer
}

.lg-outer .lg-has-vimeo .lg-video-play {
    background: url(../img/vimeo-play.png) no-repeat
}

.lg-outer .lg-has-vimeo:hover .lg-video-play {
    background: url(../img/vimeo-play.png) 0 -58px no-repeat
}

.lg-outer .lg-has-html5 .lg-video-play {
    background: url(../img/video-play.png) no-repeat;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
    opacity: .8
}

.lg-outer .lg-has-html5:hover .lg-video-play {
    opacity: 1
}

.lg-outer .lg-has-youtube .lg-video-play {
    background: url(../img/youtube-play.png) no-repeat
}

.lg-outer .lg-has-youtube:hover .lg-video-play {
    background: url(../img/youtube-play.png) 0 -60px no-repeat
}

.lg-outer .lg-video-object {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0
}

.lg-outer .lg-has-video .lg-video-object {
    visibility: hidden
}

.lg-outer .lg-has-video.lg-video-playing .lg-object,
.lg-outer .lg-has-video.lg-video-playing .lg-video-play {
    display: none
}

.lg-outer .lg-has-video.lg-video-playing .lg-video-object {
    visibility: visible
}

.lg-progress-bar {
    background-color: #333;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1083;
    opacity: 0;
    -webkit-transition: opacity 80ms ease 0s;
    -moz-transition: opacity 80ms ease 0s;
    -o-transition: opacity 80ms ease 0s;
    transition: opacity 80ms ease 0s
}

.lg-progress-bar .lg-progress {
    background-color: #a90707;
    height: 5px;
    width: 0
}

.lg-progress-bar.lg-start .lg-progress {
    width: 100%
}

.lg-show-autoplay .lg-progress-bar {
    opacity: 1
}

.lg-autoplay-button:after {
    content: "\e01d"
}

.lg-show-autoplay .lg-autoplay-button:after {
    content: "\e01a"
}

.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-image,
.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
    -webkit-transition-duration: 0s;
    transition-duration: 0s
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
    -webkit-transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
    -moz-transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
    -o-transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
    transition: left .3s cubic-bezier(0, 0, .25, 1) 0s, top .3s cubic-bezier(0, 0, .25, 1) 0s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-image {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s!important;
    -moz-transition: -moz-transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s!important;
    -o-transition: -o-transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s!important;
    transition: transform .3s cubic-bezier(0, 0, .25, 1) 0s, opacity .15s!important;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

#lg-zoom-in:after {
    content: "\e311"
}

#lg-actual-size {
    font-size: 20px
}

#lg-actual-size:after {
    content: "\e033"
}

#lg-zoom-out {
    opacity: .5;
    pointer-events: none
}

#lg-zoom-out:after {
    content: "\e312"
}

.lg-zoomed #lg-zoom-out {
    opacity: 1;
    pointer-events: auto
}

.lg-outer .lg-pager-outer {
    bottom: 60px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1080;
    height: 10px
}

.lg-outer .lg-pager-outer.lg-pager-hover .lg-pager-cont {
    overflow: visible
}

.lg-outer .lg-pager-cont {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    margin: 0 5px
}

.lg-outer .lg-pager-cont:hover .lg-pager-thumb-cont {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.lg-outer .lg-pager-cont.lg-pager-active .lg-pager {
    box-shadow: 0 0 0 2px #fff inset
}

.lg-outer .lg-pager-thumb-cont {
    background-color: #fff;
    color: #FFF;
    bottom: 100%;
    height: 83px;
    left: 0;
    margin-bottom: 20px;
    margin-left: -60px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    width: 120px;
    border-radius: 3px;
    -webkit-transition: opacity .15s ease 0s, -webkit-transform .15s ease 0s;
    -moz-transition: opacity .15s ease 0s, -moz-transform .15s ease 0s;
    -o-transition: opacity .15s ease 0s, -o-transform .15s ease 0s;
    transition: opacity .15s ease 0s, transform .15s ease 0s;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0)
}

.lg-outer .lg-pager-thumb-cont img {
    width: 100%;
    height: 100%
}

.lg-outer .lg-pager {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, .7) inset;
    display: block;
    height: 12px;
    -webkit-transition: box-shadow .3s ease 0s;
    -o-transition: box-shadow .3s ease 0s;
    transition: box-shadow .3s ease 0s;
    width: 12px
}

.lg-outer .lg-pager:focus,
.lg-outer .lg-pager:hover {
    box-shadow: 0 0 0 8px #fff inset
}

.lg-outer .lg-caret {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px dashed;
    bottom: -10px;
    display: inline-block;
    height: 0;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    vertical-align: middle;
    width: 0
}

.lg-fullscreen:after {
    content: "\e20c"
}

.lg-fullscreen-on .lg-fullscreen:after {
    content: "\e20d"
}

.lg-outer #lg-dropdown-overlay {
    background-color: rgba(0, 0, 0, .25);
    bottom: 0;
    cursor: default;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1081;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s linear .18s, opacity .18s linear 0s;
    -o-transition: visibility 0s linear .18s, opacity .18s linear 0s;
    transition: visibility 0s linear .18s, opacity .18s linear 0s
}

.lg-outer.lg-dropdown-active #lg-dropdown-overlay,
.lg-outer.lg-dropdown-active .lg-dropdown {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible
}

.lg-outer .lg-dropdown {
    background-color: #fff;
    border-radius: 2px;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 50px;
    opacity: 0;
    visibility: hidden;
    -moz-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    -webkit-transition: -webkit-transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s;
    -moz-transition: -moz-transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s;
    -o-transition: -o-transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s;
    transition: transform .18s linear 0s, visibility 0s linear .5s, opacity .18s linear 0s
}

.lg-outer .lg-dropdown:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #FFF;
    right: 16px;
    top: -16px
}

.lg-outer .lg-dropdown>li:last-child {
    margin-bottom: 0
}

.lg-outer .lg-dropdown>li:hover .lg-icon,
.lg-outer .lg-dropdown>li:hover a {
    color: #333
}

.lg-outer .lg-dropdown a {
    color: #333;
    display: block;
    white-space: pre;
    padding: 4px 12px;
    font-size: 12px
}

.lg-outer .lg-dropdown a:hover {
    background-color: rgba(0, 0, 0, .07)
}

.lg-outer .lg-dropdown .lg-dropdown-text {
    display: inline-block;
    line-height: 1;
    margin-top: -3px;
    vertical-align: middle
}

.lg-outer .lg-dropdown .lg-icon {
    color: #333;
    display: inline-block;
    float: none;
    font-size: 20px;
    height: auto;
    line-height: 1;
    margin-right: 8px;
    padding: 0;
    vertical-align: middle;
    width: auto
}

.lg-outer,
.lg-outer .lg,
.lg-outer .lg-inner {
    width: 100%;
    height: 100%
}

.lg-outer #lg-share {
    position: relative
}

.lg-outer #lg-share:after {
    content: "\e80d"
}

.lg-outer #lg-share-facebook .lg-icon {
    color: #3b5998
}

.lg-outer #lg-share-facebook .lg-icon:after {
    content: "\e901"
}

.lg-outer #lg-share-twitter .lg-icon {
    color: #00aced
}

.lg-outer #lg-share-twitter .lg-icon:after {
    content: "\e904"
}

.lg-outer #lg-share-googleplus .lg-icon {
    color: #dd4b39
}

.lg-outer #lg-share-googleplus .lg-icon:after {
    content: "\e902"
}

.lg-outer #lg-share-pinterest .lg-icon {
    color: #cb2027
}

.lg-outer #lg-share-pinterest .lg-icon:after {
    content: "\e903"
}

.group:after,
.group:before {
    display: table;
    content: "";
    line-height: 0
}

.group:after {
    clear: both
}

.lg-outer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity .15s ease 0s;
    -o-transition: opacity .15s ease 0s;
    transition: opacity .15s ease 0s
}

.lg-outer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.lg-outer.lg-visible {
    opacity: 1
}

.lg-outer.lg-css3 .lg-item.lg-current,
.lg-outer.lg-css3 .lg-item.lg-next-slide,
.lg-outer.lg-css3 .lg-item.lg-prev-slide {
    -webkit-transition-duration: inherit!important;
    transition-duration: inherit!important;
    -webkit-transition-timing-function: inherit!important;
    transition-timing-function: inherit!important
}

.lg-outer.lg-css3.lg-dragging .lg-item.lg-current,
.lg-outer.lg-css3.lg-dragging .lg-item.lg-next-slide,
.lg-outer.lg-css3.lg-dragging .lg-item.lg-prev-slide {
    -webkit-transition-duration: 0s!important;
    transition-duration: 0s!important;
    opacity: 1
}

.lg-outer.lg-grab img.lg-object {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.lg-outer.lg-grabbing img.lg-object {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing
}

.lg-outer .lg {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%
}

.lg-outer .lg-inner {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap
}

.lg-outer .lg-item {
    background: url(../img/loading.gif) center center no-repeat;
    display: none!important
}

.lg-outer.lg-css .lg-current,
.lg-outer.lg-css3 .lg-current,
.lg-outer.lg-css3 .lg-next-slide,
.lg-outer.lg-css3 .lg-prev-slide {
    display: inline-block!important
}

.lg-outer .lg-img-wrap,
.lg-outer .lg-item {
    display: inline-block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%
}

.lg-outer .lg-img-wrap:before,
.lg-outer .lg-item:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px
}

.lg-outer .lg-img-wrap {
    position: absolute;
    padding: 0 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.lg-outer .lg-item.lg-complete {
    background-image: none
}

.lg-outer .lg-item.lg-current {
    z-index: 1060
}

.lg-outer .lg-image {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
    width: auto!important;
    height: auto!important
}

.lg-outer.lg-show-after-load .lg-item .lg-object,
.lg-outer.lg-show-after-load .lg-item .lg-video-play {
    opacity: 0;
    -webkit-transition: opacity .15s ease 0s;
    -o-transition: opacity .15s ease 0s;
    transition: opacity .15s ease 0s
}

.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-object,
.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-video-play {
    opacity: 1
}

.lg-outer .lg-empty-html,
.lg-outer.lg-hide-download #lg-download {
    display: none
}

.lg-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0;
    -webkit-transition: opacity .15s ease 0s;
    -o-transition: opacity .15s ease 0s;
    transition: opacity .15s ease 0s
}

.lg-backdrop.in {
    opacity: 1
}

.lg-css3.lg-no-trans .lg-current,
.lg-css3.lg-no-trans .lg-next-slide,
.lg-css3.lg-no-trans .lg-prev-slide {
    -webkit-transition: none 0s ease 0s!important;
    -moz-transition: none 0s ease 0s!important;
    -o-transition: none 0s ease 0s!important;
    transition: none 0s ease 0s!important
}

.lg-css3.lg-use-css3 .lg-item,
.lg-css3.lg-use-left .lg-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
}

.lg-css3.lg-fade .lg-item {
    opacity: 0
}

.lg-css3.lg-fade .lg-item.lg-current {
    opacity: 1
}

.lg-css3.lg-fade .lg-item.lg-current,
.lg-css3.lg-fade .lg-item.lg-next-slide,
.lg-css3.lg-fade .lg-item.lg-prev-slide {
    -webkit-transition: opacity .1s ease 0s;
    -moz-transition: opacity .1s ease 0s;
    -o-transition: opacity .1s ease 0s;
    transition: opacity .1s ease 0s
}

.lg-css3.lg-slide.lg-use-css3 .lg-item {
    opacity: 0
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
    -webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    -moz-transition: -moz-transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    -o-transition: -o-transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: transform 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s
}

.lg-css3.lg-slide.lg-use-left .lg-item {
    opacity: 0;
    position: absolute;
    left: 0
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide {
    left: -100%
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide {
    left: 100%
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-current {
    left: 0;
    opacity: 1
}

.lg-css3.lg-slide.lg-use-left .lg-item.lg-current,
.lg-css3.lg-slide.lg-use-left .lg-item.lg-next-slide,
.lg-css3.lg-slide.lg-use-left .lg-item.lg-prev-slide {
    -webkit-transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    -moz-transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    -o-transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s;
    transition: left 1s cubic-bezier(0, 0, .25, 1) 0s, opacity .1s ease 0s
}