	/***RESETEO***/
*{
	vertical-align:top;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	color:azure;
	max-width: 100%;

}

a:focus {
	outline: none;
}

/***INTERFACES GRANDES***/
html,
body {
	background-color:#141517;
}

html {
}

body {
	height: 100%;
	min-height: 100%;
	font-size:100%;
}

.pop {
	position: absolute;
	width: 100%;
	height:0;
	background-color:darkmagenta;
	color: black;
	text-align: center;
	font-size:0;
	animation-name: pop;
	animation-duration: 6s;
	/* Chrome, Safari, Opera */
	-webkit-animation-name: pop;
	-webkit-animation-duration: 6s;
}

.popcont {
	text-align: center;
	margin: auto;
	padding: 0.4em;
}

@keyframes pop {
	0%     {height:0;font-size:0;}
	10%    {height:1.8em;font-size:1em;}
	90%    {height:1.8em;font-size:1em;}
	100%   {height:0;font-size:0;}
}
@-webkit-keyframes pop {
	0%     {height:0;font-size:0;}
	10%    {height:1.8em;font-size:1em;}
	90%    {height:1.8em;font-size:1em;}
	100%   {height:0;font-size:0;}
}

.cuerpo {
	min-height: 100%;
	background-color:#141517;
}

.pie {
	background-color: crimson;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	letter-spacing: -1px;
}

h1 {	font-size: 2em;
	margin: 1em;
}

h2 {	font-size: 1.8em;
	margin: 0.9em;
}

h3 {	font-size: 1.6em;
	margin: 0.8em;
}

h4 {	font-size: 1.4em;
	margin: 0.7em;
}

h5 {	font-size: 1.2em;
	margin: 0.6em;
}

h6 {	font-size: 1em;
	margin: 0.5em;
}


/*FORMULARIO*
*******************************************************************************************************************/

form input{
	display:block;
	margin: auto;
	width: 60%;
	background-color: rgba(255, 255, 255, 0.30);
	color:#111;
	padding: .5rem;
	font-weight: bold;
}
	.entrada:hover{
		background-color: rgba(255, 255, 255, .8);
		color: #aaa;
	}
	@media (max-width: 500px){

	}

.boton{
	display:block;
	margin: auto;
	padding: 1rem;
	color: #111;
	background-color: rgba(255, 255, 255, 0.30);
	font-weight: bold;
	font-size: 2rem;
}
	.boton:hover{
		background-color: rgba(255, 255, 255, .8);
		color:#aaa;
	}