* {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	background-color: transparent;
	color: black;
	font-size: 15px;
	font-family: sans-serif; 
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	cursor: default;
}

a {
	z-index: 10 !important	;
	color: red ;
	cursor: pointer !important;
}

a:hover {
	color: red
/*	color: #E866BA !important;*/
	text-decoration: none !important;
}


.portada{
	height: 70vh;
	min-height: 17rem;
	max-height: 500px;
	background-image: url(../img/web/portada.jpg);
	background-size: cover;
	background-position: center bottom;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.portada *{
	display: block;
	width: 100%;
	color:black;
	text-align: center;
	font-weight: bolder;
	text-shadow: 0px 0px 5px white;
}

.portada h2{
	font-size: 4rem;
}

.portada h3{
	font-size: 3.5rem;
}

	@media (max-width: 500px){
		.portada h2{
			font-size: 2.5rem;
		}

		.portada h3{
			font-size: 2rem;
		}
	}

.botonx{
	padding-top: 1rem;
	font-size: bold
	width: 100%;
}

.botonx-off .flecha,
.botonx-on .flecha{
	display: inline-block;
	content: '';
	background-image: url(../img/web/flecha.svg);
	background-size: contain;
	background-position: center; 
	width: 2rem;
	height: 2rem;
}

.botonx-on .flecha{
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.pestana{
	height: 0;
	overflow-y: hidden;
}

.pestana-menu-on{
	color: black;
	height: 100vh;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
	.pestana-menu-on *,
	.pestana-menu-off *{
		color: black;
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}


.pestana-menu-off{
	height: 0;
	overflow-y: hidden;
}

@media (min-width: 768px){
	.pestana-menu-off{
		height: auto;
		display: block;
	}
	.pestana-menu-off ul{
		display: flex;
		justify-content: space-around;
		margin: 0;
		margin-top: 0.6rem;
	}
	.pestana-menu-off li{
		display: inline;
	}
}

.pestana-on{
	height: auto;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-left: 1.5rem;
	text-align: justify;
}


.cuerpo{
	position: relative;
}

.primero{
	display: flex;
}

.testimonio:nth-of-type(odd) {
	direction: ltr;
}

.testimonio:nth-of-type(even) {
	direction: rtl;
}

.testimonio *{
	direction: ltr;
}

.testimonio p:before,
.testimonio p:after{
	content: "\"";
	font-size: 3rem;
	line-height: 1.8rem;
	font-weight: bolder;
}

.float-no{
	float: none;
}

/*MENU*
*******************************************************************************************************************/
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.navbar {
	margin: 0 !important;
	position: fixed !important;
	width: 100%;
	z-index: 100;
	overflow-y: hidden;
	min-height: 4rem;
}


/*Pop-up
*******************************************************************************************************************/
.pop {
	position: absolute;
	width: 100%;
	z-index: 100;
	background-color:#E866BA;
	color: black;
	text-align: center;
	font-weight: bold;
	font-size:0;
	height:0px;
	padding-top:0;
	padding-bottom:0;
	overflow: hidden;

	animation-name: popup;
	animation-duration: 3s;
	-webkit-animation-name: popup;
	-webkit-animation-duration: 3s;
}

@keyframes popup {
	0%     {height:0;font-size:0;}
	10%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	90%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	100%   {height:0;font-size:0;}
}
@-webkit-keyframes popup {
	0%     {height:0;font-size:0;}
	10%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	90%    {font-size:1.5rem; height:3.5rem;padding-top:1rem;padding-bottom:1rem;}
	100%   {height:0;font-size:0;}
}


/*GRILLA*
*******************************************************************************************************************/
/*Características generales*/
.s0,.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12,
.m0,.m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8,.m9,.m10,.m11,.m12,
.l0,.l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9,.l10,.l11,.l12{
	display: inline-block;
	float:left;
}

/*Márgenes*/
	.s0:first-child,.s1:first-child,.s2:first-child,.s3:first-child,.s4:first-child,.s5:first-child,.s6:first-child,.s7:first-child,.s8:first-child,.s9:first-child,.s10:first-child,.s11:first-child,
	.m0:first-child,.m1:first-child,.m2:first-child,.m3:first-child,.m4:first-child,.m5:first-child,.m6:first-child,.m7:first-child,.m8:first-child,.m9:first-child,.m10:first-child,.m11:first-child,
	.l0:first-child,.l1:first-child,.l2:first-child,.l3:first-child,.l4:first-child,.l5:first-child,.l6:first-child,.l7:first-child,.l8:first-child,.l9:first-child,.l10:first-child,.l11:first-child{
		margin-left: 0; 		
	}

/*Tamaños*/
.s0{ width: 0px;}
.s1{ width: 8.3333%;}
.s2{ width: 16.6667%;}
.s3{ width: 25%;}
.s4{ width: 33.3333%;}
.s5{ width: 41.6667%;}
.s6{ width: 50%;}
.s7{ width: 58.3333%;}
.s8{ width: 66.6667%;}
.s9{ width: 75%;}
.s10{ width: 83.3333%;}
.s11{ width: 91.6667%;}
.s12{ width: 100%;}

@media (min-width: 500px){
	.m0{ width: 0px;}
	.m1{ width: 8.3333%; }
	.m2{ width: 16.6667%; }
	.m3{ width: 25%; }
	.m4{ width: 33.3333%; }
	.m5{ width: 41.6667%; }
	.m6{ width: 50%; }
	.m7{ width: 58.3333%; }
	.m8{ width: 66.6667%; }
	.m9{ width: 75%; }
	.m10{ width: 83.3333%; }
	.m11{ width: 91.6667%; }
	.m12{ width: 100%; }
}

@media (min-width: 900px){
	.l0{ width: 0px;}
	.l1{ width: 8.3333%; }
	.l2{ width: 16.6667%; }
	.l3{ width: 25%; }
	.l4{ width: 33.3333%; }
	.l5{ width: 41.6667%; }
	.l6{ width: 50%; }
	.l7{ width: 58.3333%; }
	.l8{ width: 66.6667%; }
	.l9{ width: 75%; }
	.l10{ width: 83.3333%; }
	.l11{ width: 91.6667%; }
	.l12{ width: 100%; }
}

.contra{
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
}
@media (max-width: 499px){
	.s-contra{
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
	}
}
@media (min-width: 500px){
	.m-contra{
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
	}
}
@media (min-width: 900px){
	.l-contra{
		margin-left: auto !important;
		margin-right: auto !important;
		float: none !important;
	}
}

.s-flex{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}


/*TEXTO*
*******************************************************************************************************************/

h1, h2, h3, h4, h5, h6{
	font-weight: bolder !important;
}

.tex-centrado{
	text-align: center;
}

.tex-justificado{
	text-align: justify;
}



/*IMAGENES y COLORES*
*******************************************************************************************************************/

/*IMGs*/
img {
	margin: auto;
	display: block;
}

.img-limite1{
	margin: auto;
	display: block;
	height: 1000px;
	max-width: 400px;
	max-height: 400px;
	border-radius: 2rem;
	overflow: hidden;
}

.img-limite1 *{
	max-height: 100%;
	max-width: 100%;
	border-radius: 2rem;
}

.img-limite2{
	max-width: 320px;
	margin: auto;
	display: block;
	width: 80%;
	overflow: hidden;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.img-limite2:before{
	content: "";
	display: block;
	padding-top: 100%;
}

/*.flex img{
	justify-content: center;
	align-items: center;
	vertical-align: middle;
}

/*COLORES*/

/*Blanco*/
.color-1 {
	background-color: rgba(256, 256, 256, .6);
}

.t-color-1 * {
	color: rgb(256, 256, 256);
}

/*Negro*/
.color-2 {
	background-color: rgba(0, 0, 0, .6);
}

.t-color-2 * {
	color: rgb(0, 0, 0);
}

/*Rojo Sumaq*/
.color-3 {
	background-color: rgb(180, 0, 0);
}

.t-color-3 * {
	color: rgb(180, 0, 0);
}

.fondo-img-1-b{
	background-color: #FDF8DA;
	box-shadow: inset 0 0 30px 25px rgb(186, 142, 81, 0.8);
}

.fondo-img-1-c{
	background-image: url(../img/fondo/arena.jpg);
	background-size: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.fondo-img-1-c *{
	z-index: 5;
}

.fondo-img-1-c::before{
	content: '';
	position: absolute;
	width: calc( 100% - 7vw);
	height: calc( 100% - 7vw);
	background-color: white;
	box-shadow: 0 0 2vw 2vw white;
	z-index: 3;
}

.fondo-img-1{
	background-image: url(../img/fondo/old_map.png);
}

.fondo-img-2{
	background-image: url(../img/fondo/madera.png);
	background-size: contain;
}

.fondo-color-1{
	background-color: #F5EBE1;
	background-image: none;
}

.fondo-fijo{
	background-attachment: fixed;
}

/*BLENDS*/
.blend-multiply{background-blend-mode: multiply;}

/*DESAPARECEN*
*******************************************************************************************************************/
@media (max-width: 500px){
	.s-noveo,
	.s-noveo *{
		overflow: hidden;
		width: 0;
		height: 0;
		font-size: 0;
	}
}

@media (min-width:501px) and (max-width: 900px){
	.m-noveo,
	.m-noveo *{
		overflow: hidden;
		width: 0;
		height: 0;
		font-size: 0;
	}
}

@media (min-width: 901px){
	.l-noveo,
	.l-noveo *{
		overflow: hidden;
		width: 0;
		height: 0;
		font-size: 0;
	}
}



/*DISPLAY y POSICION*
*******************************************************************************************/
.d-block{display: block;}
.d-inline-block{display: inline-block;}
.d-inline{display: inline;}
.d-flex{display: flex; flex-wrap: wrap;}
.d-inline-flex{display: inline-flex; flex-wrap: wrap;}
.d-none{display: none;}

.p-absolute{position: absolute;}
.p-fixed{position: fixed;}
.p-static{position: static;}
.p-sticky{position: sticky;}
.p-relative{position: relative;}

.flex-around{justify-content: space-around;}


/*FLEX*
*******************************************************************************************************************/
.flex-around{
	justify-content: space-around;	
}
.flex-vert{
	flex-direction: column;
}
.flex-centro{
	justify-content: center;
}




/*PADDING y MARGIN*
*******************************************************************************************************************/
.s-pad-0{padding: 0;}
.s-pad-1{padding: 1rem;}
.s-pad-2{padding: 2rem;}
.s-pad-3{padding: 3rem;}
.s-pad-4{padding: 4rem;}
.s-pad-5{padding: 5rem;}
.s-pad-6{padding: 6rem;}
.s-pad-0{padding: 0;}
.s-pad-v-0{padding-top: 0;	padding-bottom: 0;}
.s-pad-v-1{padding-top: 1rem;	padding-bottom: 1rem;}
.s-pad-v-2{padding-top: 2rem;	padding-bottom: 2rem;}
.s-pad-v-3{padding-top: 3rem;	padding-bottom: 3rem;}
.s-pad-v-4{padding-top: 4rem;	padding-bottom: 4rem;}
.s-pad-v-5{padding-top: 5rem;	padding-bottom: 5rem;}
.s-pad-v-6{padding-top: 6rem;	padding-bottom: 6rem;}
.s-pad-h-0{padding-left: 0; padding-right: 0;}
.s-pad-h-1{padding-left: 1rem; padding-right: 1rem;}
.s-pad-h-2{padding-left: 2rem; padding-right: 2rem;}
.s-pad-h-3{padding-left: 3rem; padding-right: 3rem;}
.s-pad-h-4{padding-left: 4rem; padding-right: 4rem;}
.s-pad-h-5{padding-left: 5rem; padding-right: 5rem;}
.s-pad-h-6{padding-left: 6rem; padding-right: 6rem;}
.s-pad-h-10{padding-left: 10rem; padding-right: 10rem;}
.s-pad-h-20{padding-left: 20rem; padding-right: 20rem;}
.s-pad-t-0{padding-top: 0;}
.s-pad-t-1{padding-top: 1rem;}
.s-pad-t-2{padding-top: 2rem;}
.s-pad-t-3{padding-top: 3rem;}
.s-pad-t-4{padding-top: 4rem;}
.s-pad-t-5{padding-top: 5rem;}
.s-pad-t-6{padding-top: 6rem;}
.s-pad-b-0{padding-bottom: 0;}
.s-pad-b-1{padding-bottom: 1rem;}
.s-pad-b-2{padding-bottom: 2rem;}
.s-pad-b-3{padding-bottom: 3rem;}
.s-pad-b-4{padding-bottom: 4rem;}
.s-pad-b-5{padding-bottom: 5rem;}
.s-pad-b-6{padding-bottom: 6rem;}

.s-marg-0{margin: 0;}
.s-marg-v-0{margin-top: 0;	margin-bottom: 0;}
.s-marg-h-0{margin-left: 0; margin-right: 0;}
.s-marg-1{margin: 1rem;}
.s-marg-v-1{margin-top: 1rem;	margin-bottom: 1rem;}
.s-marg-h-1{margin-left: 1rem; margin-right: 1rem;}
.s-marg-2{margin: 2rem;}
.s-marg-v-2{margin-top: 2rem;	margin-bottom: 2rem;}
.s-marg-h-2{margin-left: 2rem; margin-right: 2rem;}
.s-marg-3{margin: 3rem;}
.s-marg-v-3{margin-top: 3rem;	margin-bottom: 3rem;}
.s-marg-h-3{margin-left: 3rem; margin-right: 3rem;}
.s-marg-4{margin: 4rem;}
.s-marg-v-4{margin-top: 4rem;	margin-bottom: 4rem;}
.s-marg-h-4{margin-left: 4rem; margin-right: 4rem;}
.s-marg-5{margin: 5rem;}
.s-marg-v-5{margin-top: 5rem;	margin-bottom: 5rem;}
.s-marg-h-5{margin-left: 5rem; margin-right: 5rem;}
.s-marg-6{margin: 6rem;}
.s-marg-v-6{margin-top: 6rem;	margin-bottom: 6rem;}
.s-marg-h-6{margin-left: 6rem; margin-right: 6rem;}
.s-marg-t-0{margin-top: 0rem;}
.s-marg-t-1{margin-top: 1rem;}
.s-marg-t-2{margin-top: 2rem;}
.s-marg-t-3{margin-top: 3rem;}
.s-marg-t-4{margin-top: 4rem;}
.s-marg-t-5{margin-top: 5rem;}
.s-marg-t-6{margin-top: 6rem;}
.s-marg-b-0{margin-bottom: 0;}
.s-marg-b-1{margin-bottom: 1rem;}
.s-marg-b-2{margin-bottom: 2rem;}
.s-marg-b-3{margin-bottom: 3rem;}
.s-marg-b-4{margin-bottom: 4rem;}
.s-marg-b-5{margin-bottom: 5rem;}
.s-marg-b-6{margin-bottom: 6rem;}

@media (min-width: 500px){
	.m-pad-0{padding: 0;}
	.m-pad-1{padding: 1rem;}
	.m-pad-2{padding: 2rem;}
	.m-pad-3{padding: 3rem;}
	.m-pad-4{padding: 4rem;}
	.m-pad-5{padding: 5rem;}
	.m-pad-6{padding: 6rem;}
	.m-pad-0{padding: 0;}
	.m-pad-v-0{padding-top: 0;	padding-bottom: 0;}
	.m-pad-v-1{padding-top: 1rem;	padding-bottom: 1rem;}
	.m-pad-v-2{padding-top: 2rem;	padding-bottom: 2rem;}
	.m-pad-v-3{padding-top: 3rem;	padding-bottom: 3rem;}
	.m-pad-v-4{padding-top: 4rem;	padding-bottom: 4rem;}
	.m-pad-v-5{padding-top: 5rem;	padding-bottom: 5rem;}
	.m-pad-v-6{padding-top: 6rem;	padding-bottom: 6rem;}
	.m-pad-h-0{padding-left: 0; padding-right: 0;}
	.m-pad-h-1{padding-left: 1rem; padding-right: 1rem;}
	.m-pad-h-2{padding-left: 2rem; padding-right: 2rem;}
	.m-pad-h-3{padding-left: 3rem; padding-right: 3rem;}
	.m-pad-h-4{padding-left: 4rem; padding-right: 4rem;}
	.m-pad-h-5{padding-left: 5rem; padding-right: 5rem;}
	.m-pad-h-6{padding-left: 6rem; padding-right: 6rem;}
	.m-pad-h-10{padding-left: 10rem; padding-right: 10rem;}
	.m-pad-h-20{padding-left: 20rem; padding-right: 20rem;}
	.m-pad-t-0{padding-top: 0;}
	.m-pad-t-1{padding-top: 1rem;}
	.m-pad-t-2{padding-top: 2rem;}
	.m-pad-t-3{padding-top: 3rem;}
	.m-pad-t-4{padding-top: 4rem;}
	.m-pad-t-5{padding-top: 5rem;}
	.m-pad-t-6{padding-top: 6rem;}
	.m-pad-b-0{padding-bottom: 0;}
	.m-pad-b-1{padding-bottom: 1rem;}
	.m-pad-b-2{padding-bottom: 2rem;}
	.m-pad-b-3{padding-bottom: 3rem;}
	.m-pad-b-4{padding-bottom: 4rem;}
	.m-pad-b-5{padding-bottom: 5rem;}
	.m-pad-b-6{padding-bottom: 6rem;}

	.m-marg-0{margin: 0;}
	.m-marg-v-0{margin-top: 0;	margin-bottom: 0;}
	.m-marg-h-0{margin-left: 0; margin-right: 0;}
	.m-marg-1{margin: 1rem;}
	.m-marg-v-1{margin-top: 1rem;	margin-bottom: 1rem;}
	.m-marg-h-1{margin-left: 1rem; margin-right: 1rem;}
	.m-marg-2{margin: 2rem;}
	.m-marg-v-2{margin-top: 2rem;	margin-bottom: 2rem;}
	.m-marg-h-2{margin-left: 2rem; margin-right: 2rem;}
	.m-marg-3{margin: 3rem;}
	.m-marg-v-3{margin-top: 3rem;	margin-bottom: 3rem;}
	.m-marg-h-3{margin-left: 3rem; margin-right: 3rem;}
	.m-marg-4{margin: 4rem;}
	.m-marg-v-4{margin-top: 4rem;	margin-bottom: 4rem;}
	.m-marg-h-4{margin-left: 4rem; margin-right: 4rem;}
	.m-marg-5{margin: 5rem;}
	.m-marg-v-5{margin-top: 5rem;	margin-bottom: 5rem;}
	.m-marg-h-5{margin-left: 5rem; margin-right: 5rem;}
	.m-marg-6{margin: 6rem;}
	.m-marg-v-6{margin-top: 6rem;	margin-bottom: 6rem;}
	.m-marg-h-6{margin-left: 6rem; margin-right: 6rem;}
	.m-marg-t-0{margin-top: 0rem;}
	.m-marg-t-1{margin-top: 1rem;}
	.m-marg-t-2{margin-top: 2rem;}
	.m-marg-t-3{margin-top: 3rem;}
	.m-marg-t-4{margin-top: 4rem;}
	.m-marg-t-5{margin-top: 5rem;}
	.m-marg-t-6{margin-top: 6rem;}
	.m-marg-b-0{margin-bottom: 0;}
	.m-marg-b-1{margin-bottom: 1rem;}
	.m-marg-b-2{margin-bottom: 2rem;}
	.m-marg-b-3{margin-bottom: 3rem;}
	.m-marg-b-4{margin-bottom: 4rem;}
	.m-marg-b-5{margin-bottom: 5rem;}
	.m-marg-b-6{margin-bottom: 6rem;}
}

@media (min-width: 900px){
	.l-pad-0{padding: 0;}
	.l-pad-1{padding: 1rem;}
	.l-pad-2{padding: 2rem;}
	.l-pad-3{padding: 3rem;}
	.l-pad-4{padding: 4rem;}
	.l-pad-5{padding: 5rem;}
	.l-pad-6{padding: 6rem;}
	.l-pad-0{padding: 0;}
	.l-pad-v-0{padding-top: 0;	padding-bottom: 0;}
	.l-pad-v-1{padding-top: 1rem;	padding-bottom: 1rem;}
	.l-pad-v-2{padding-top: 2rem;	padding-bottom: 2rem;}
	.l-pad-v-3{padding-top: 3rem;	padding-bottom: 3rem;}
	.l-pad-v-4{padding-top: 4rem;	padding-bottom: 4rem;}
	.l-pad-v-5{padding-top: 5rem;	padding-bottom: 5rem;}
	.l-pad-v-6{padding-top: 6rem;	padding-bottom: 6rem;}
	.l-pad-h-0{padding-left: 0; padding-right: 0;}
	.l-pad-h-1{padding-left: 1rem; padding-right: 1rem;}
	.l-pad-h-2{padding-left: 2rem; padding-right: 2rem;}
	.l-pad-h-3{padding-left: 3rem; padding-right: 3rem;}
	.l-pad-h-4{padding-left: 4rem; padding-right: 4rem;}
	.l-pad-h-5{padding-left: 5rem; padding-right: 5rem;}
	.l-pad-h-6{padding-left: 6rem; padding-right: 6rem;}
	.l-pad-h-10{padding-left: 10rem; padding-right: 10rem;}
	.l-pad-h-20{padding-left: 20rem; padding-right: 20rem;}
	.l-pad-t-0{padding-top: 0;}
	.l-pad-t-1{padding-top: 1rem;}
	.l-pad-t-2{padding-top: 2rem;}
	.l-pad-t-3{padding-top: 3rem;}
	.l-pad-t-4{padding-top: 4rem;}
	.l-pad-t-5{padding-top: 5rem;}
	.l-pad-t-6{padding-top: 6rem;}
	.l-pad-b-0{padding-bottom: 0;}
	.l-pad-b-1{padding-bottom: 1rem;}
	.l-pad-b-2{padding-bottom: 2rem;}
	.l-pad-b-3{padding-bottom: 3rem;}
	.l-pad-b-4{padding-bottom: 4rem;}
	.l-pad-b-5{padding-bottom: 5rem;}
	.l-pad-b-6{padding-bottom: 6rem;}

	.l-marg-0{margin: 0;}
	.l-marg-v-0{margin-top: 0; margin-bottom: 0;}
	.l-marg-h-0{margin-left: 0; margin-right: 0;}
	.l-marg-1{margin: 1rem;}
	.l-marg-v-1{margin-top: 1rem; margin-bottom: 1rem;}
	.l-marg-h-1{margin-left: 1rem; margin-right: 1rem;}
	.l-marg-2{margin: 2rem;}
	.l-marg-v-2{margin-top: 2rem; margin-bottom: 2rem;}
	.l-marg-h-2{margin-left: 2rem; margin-right: 2rem;}
	.l-marg-3{margin: 3rem;}
	.l-marg-v-3{margin-top: 3rem; margin-bottom: 3rem;}
	.l-marg-h-3{margin-left: 3rem; margin-right: 3rem;}
	.l-marg-4{margin: 4rem;}
	.l-marg-v-4{margin-top: 4rem; margin-bottom: 4rem;}
	.l-marg-h-4{margin-left: 4rem; margin-right: 4rem;}
	.l-marg-5{margin: 5rem;}
	.l-marg-v-5{margin-top: 5rem; margin-bottom: 5rem;}
	.l-marg-h-5{margin-left: 5rem; margin-right: 5rem;}
	.l-marg-6{margin: 6rem;}
	.l-marg-v-6{margin-top: 6rem; margin-bottom: 6rem;}
	.l-marg-h-6{margin-left: 6rem; margin-right: 6rem;}
	.l-marg-t-0{margin-top: 0rem;}
	.l-marg-t-1{margin-top: 1rem;}
	.l-marg-t-2{margin-top: 2rem;}
	.l-marg-t-3{margin-top: 3rem;}
	.l-marg-t-4{margin-top: 4rem;}
	.l-marg-t-5{margin-top: 5rem;}
	.l-marg-t-6{margin-top: 6rem;}
	.l-marg-b-0{margin-bottom: 0;}
	.l-marg-b-1{margin-bottom: 1rem;}
	.l-marg-b-2{margin-bottom: 2rem;}
	.l-marg-b-3{margin-bottom: 3rem;}
	.l-marg-b-4{margin-bottom: 4rem;}
	.l-marg-b-5{margin-bottom: 5rem;}
	.l-marg-b-6{margin-bottom: 6rem;}
}

.s-h-1{height: 10%;}
.s-h-2{height: 20%;}
.s-h-3{height: 30%;}
.s-h-4{height: 40%;}
.s-h-5{height: 50%;}
.s-h-6{height: 60%;}
.s-h-7{height: 70%;}
.s-h-8{height: 80%;}
.s-h-9{height: 90%;}
.s-h-10{height: 100%;}

@media (min-width: 500px){
	.m-h-0{height: 0;}
	.m-h-1{height: 10%;}
	.m-h-2{height: 20%;}
	.m-h-3{height: 30%;}
	.m-h-4{height: 40%;}
	.m-h-5{height: 50%;}
	.m-h-6{height: 60%;}
	.m-h-7{height: 70%;}
	.m-h-8{height: 80%;}
	.m-h-9{height: 90%;}
	.m-h-10{height: 100%;}
}

@media (min-width: 900px){
	.l-h-0{height: 0;}
	.l-h-1{height: 10%;}
	.l-h-2{height: 20%;}
	.l-h-3{height: 30%;}
	.l-h-4{height: 40%;}
	.l-h-5{height: 50%;}
	.l-h-6{height: 60%;}
	.l-h-7{height: 70%;}
	.l-h-8{height: 80%;}
	.l-h-9{height: 90%;}
	.l-h-10{height: 100%;}
}

/*DIRECCIÖN*
*******************************************************************************************************************/
.dai{
	direction: rtl;
}
.iad{
	direction: ltr;
}
.dai *,
.iad *{
	direction: ltr;
}


/*BLOG*
*******************************************************************************************************************/

/*SOCIAL DE BLOG*
*****************/
.social{
	z-index: 3;
	margin-left: 2rem;
}
	@media (max-width: 500px){
		.social{
			margin:auto;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

.social .rs{
	height: 2rem;
	width: 2rem;
	margin-top: 5px;
	margin-left: 5px;
	display: inline-block;
}

.social .rs a{
	width: 2rem;
	height: 2rem;
	display: block;
}

.social .rs.facebook{
	background-image: url('../img/web/facebook.svg');
	background-size: contain;
}

.social .rs.twitter{
	background-image: url('../img/web/twitter.png');
	background-size: contain;
}

.social .rs.googleplus{
	background-image: url('../img/web/google+.png');
	background-size: contain;
}

.social .rs.linkedin{
	background-image: url('../img/web/linkedin.png');
	background-size: contain;
}

.social .rs.pinterest{
	background-image: url('../img/web/pinterest.png');
	background-size: contain;
}

.social .rs.email{
	background-image: url('../img/web/email.svg');
	background-size: contain;
}

/*BLOG*
*****************/

.blog *,
.editor .blog *{
	text-align: justify;
}

.blog h1,
.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6,
.editor .blog h1,
.editor .blog h2,
.editor .blog h3,
.editor .blog h4,
.editor .blog h5,
.editor .blog h6{
	text-align: left;
}

.blog img,
.editor .blog img{
	max-width: 90%;
	max-height: 100vh;
	padding: 2rem;
}

.blog ul,
.blog ol,
.editor .blog ul,
.editor .blog ol{
	padding-left: 2rem;
}
	
.blog li,
.editor .blog li{
	list-style: disc;
}

.blog blockquote *,
.editor .blog blockquote *{
	text-align: center;
	font-size:1.05em;
	display: block;
	padding-top: 2rem;
	padding-bottom: 2rem;
}


/*EDITOR DE BLOG*
*****************/
.editor .blog-img{
	display: inline-block;
	height: 300px;
	width: 300px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.editor .blog-img{
	max-height: 90%;
	max-width: : 90%;
}

.editor {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

.editor *{
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.editor img{
	max-width: 90%;
	max-height: 100vh;
}

.editor .blog-entrada:nth-of-type(even) {
	background-color: rgba(200,50,50,0.4);
	box-shadow: 0 0 10px rgba(200, 50, 50, 0.4);
}

.editor .boton{
	display:block;
	margin: auto;
	padding: 1rem;
	color: #111;
	background-color: rgba(200, 200, 200, 0.50);
	font-weight: bold;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

}
	.editor .boton:hover{
		background-color: rgba(1, 1, 1, .8);
		color:#aaa;
	}
	.editor .boton:disabled{
		background-color: rgba(100, 100, 100, .8);
		color:#aaa;
	}

.editor .imagen *{
	display: inline-flex;
}

.editor .imagen *{
	max-height: 100%;
}

.editor form{
	overflow: auto;
}



/*FORMULARIO*
*******************************************************************************************************************/

.entrada{
	display:block;
	margin: auto;
	width: 60%;
	min-width: 150px;
	background-color: rgba(1, 1, 1, 0.30);
	color:#111;
	padding: .5rem;
	font-weight: bold;
}
	.entrada:hover{
		background-color: rgba(1, 1, 1, .8);
		color: #aaa;
	}
	@media (max-width: 500px){

	}

.boton{
	display:block;
	margin: auto;
	padding: 1rem;
	color: #111;
	background-color: rgba(1, 1, 1, 0.30);
	font-weight: bold;
	font-size: 2rem;
}
	.boton:hover{
		background-color: rgba(1, 1, 1, .8);
		color:#aaa;
	}

.vinculo{
	background-color: rgba(1, 1, 1, 0);
	font-weight: bold;

}
	.vinculo:hover{
		background-color: rgba(1, 1, 1, .2);
		color:#aaa;
		border-radius: 1rem;
	}


/*PIE*
*******************************************************************************************************************/

.divisor{
	height: 4px;
	width: 100%;
	border-radius: 1rem;
	background-image: url(../img/web/linea.svg);
	background-position: center;
	background-size: auto 100%;
}

footer{
	background-color: white;
	min-height: 12rem;
}

footer ul{
	margin: 2rem auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

footer ul li{
	margin-right: 0.4rem;
	margin-left: 0.4rem;
}

footer,
footer ul,
footer ul li,
footer ul li a{
	font-size: 1rem;
}

.copyright, .copyright *{
	background-color: white;
	text-decoration-line: none;
	text-decoration: none;
	display: block;
	font-size: 0.8rem;
	padding: 0;
	margin: 0 0.2rem;
	bottom: 0;
	text-align: center;
}