/***RESETEO***/
*{
	vertical-align:top;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	color:azure;
}

a:focus {
	outline: none;
}

/***INTERFACES GRANDES***/
html,
body {
	background-color:#141517;
}

html {
}

body {
	height: 100%;
	min-height: 100%;
	font-size:100%;
}

.wrap {
	min-height:100%;
	background-color:#141517;

}

.navbar {
	float:left;
	z-index:100;
	width: 100%;
	height: 3.4em;
	background-color:#73696A;
	background-image: url(../imgweb/punto.png);
}

.navitem {
	display: inline-block;
	vertical-align: middle;
	max-height: 3.4em;
}

.navitem:first-child {
	margin-left: 0.1em;
}

.navimg {
	display: inline-block;
	vertical-align: middle;
	width: 3em;
	height: 3em;
	margin: 0.2em;
}

.navtex {
	display: inline-block;
	vertical-align: middle;
	font-weight: 800;
}

.navimg a img {
	display: inline-block;
	vertical-align: middle;
	width: 3em;
	height: 3em;
	margin: 0;
}

.pop {
	position: absolute;
	width: 100%;
	height:0;
	background-color:darkmagenta;
	color: black;
	text-align: center;
	font-size:0;
	animation-name: pop;
	animation-duration: 6s;
	/* Chrome, Safari, Opera */
	-webkit-animation-name: pop;
	-webkit-animation-duration: 6s;
}

.popcont {
	text-align: center;
	margin: auto;
	padding: 0.4em;
}

@keyframes pop {
	0%     {height:0;font-size:0;}
	10%    {height:1.8em;font-size:1em;}
	90%    {height:1.8em;font-size:1em;}
	100%   {height:0;font-size:0;}
}
@-webkit-keyframes pop {
	0%     {height:0;font-size:0;}
	10%    {height:1.8em;font-size:1em;}
	90%    {height:1.8em;font-size:1em;}
	100%   {height:0;font-size:0;}
}

.cuerpo {
	min-height: 100%;
	background-color:#141517;
	padding: 3.4em 0 0;
}

.contenido {
	margin: auto;
	padding: 2.5em 0 0;
	background-color:#141517;
	text-align: center;
}

.pie {
	background-color: crimson;
}

.item_pie_i,
.item_pie_d {
	display: inline-block;
	width: 49%;
	padding: 0.5em 0;
	text-align: center;
	color: aliceblue;
}

.item,
.item2 {
	vertical-align: middle;
	display: inline-block;
	width: 100%;
	padding: 0.5em 0;
}

.item {
	background-color:#141517;
	min-height:10em;
}

.item2 {
	background-color:#aaaaaa;
	background-image: url(../imgweb/rayas.png);


}

.bloq {
	display: inline-block;
	width: 100%;
	margin: 0.2em auto;
}

.elem1 {
	display: inline-block;
	width:100%;
	margin: 0.5em 0.1em;
	padding: 0.2em 0;
	background-color: grey;
	background-image: url(../imgweb/rayas1.png);
	border-radius: 0.6em;
}

.centrar{
	display: inline-block;
	margin:auto;
	vertical-align: middle;
	max-width: 100%;
}

.flot {
	vertical-align: middle;
	display: inline-block;
	width:47%;
	max-width:47%;
	margin:auto;
	overflow:hidden;
}

.flot_img {
	vertical-align: middle;
	display: inline-block;
	height:10em;
	width:48%;
	margin:auto;
	overflow:hidden;
}

.flot_img2 {
	display:table;
	width:100%;
	height:100%;
}

.flot_img3 {
	display:table-cell;
	vertical-align:middle;
	margin:auto;
	max-height:10em;
}

#titulo {
	font-size:8em;
	text-align:center;
	margin:0.2em auto;
	font-family: 'Dynalight', cursive;
	color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

#luna {
	margin:2em auto auto;
	background-image: url('../imgweb/luna.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size:auto 100%;
}

.star {
	font-size:0.1em;
	display: inline-block;
	position: absolute;
	color: #ccc;
	animation: glitter 2s linear 0s infinite normal;
}

@-webkit-keyframes glitter {
	0%   { -webkit-transform: scale(0); opacity: 0; }
	50%  { -webkit-transform: scale(1.0); opacity: 1; }
	100% { -webkit-transform: scale(0); opacity: 0; }
}
@-moz-keyframes glitter {
	0%   { -moz-transform: scale(0); opacity: 0; }
	50%  { -moz-transform: scale(1.0); opacity: 1; }
	100% { -moz-transform: scale(0); opacity: 0; }
}

.ev_h {
	display: inline-block;
	margin:  0.5em auto;
	vertical-align: middle;
	font-weight: 700;
}

.img_tit{
	display: inline-block;
	width: 100%;
	margin:  0.5em auto;
	font-size: 1.2em;
	font-weight: 700;
	color: red;
}

.imgqr{
	margin: 1em auto;
}

.img_eve{
	width: 400px;
	max-width: 40%;
	max-height:30%;
	margin: 1em auto;
}

.img_info{
	font-size: 0.7em;
	margin: 0.1em 0 1em;
}

img {
	display: inline-block;
	vertical-align: middle;
	margin:auto;
	max-width:100%;
	max-height:100%;
}

.tit1{
	display: inline-block;
	margin:  0.5em auto;
	vertical-align: middle;
	font-size: 1.2em;
	font-weight: 700;
	color: red;
}

.tit2{
	
}

.cont1{
	display: inline-block;
	vertical-align: middle;
	margin: auto;
/*	text-align: justify;*/
}

.hasDatepicker {
	display: block;
	vertical-align: middle;
	margin:auto;
}

.llenar{
	display: inline-block;
	min-width: 60%;
	max-width: 100%;
	min-height: 1.2em;
	margin: 0.5em;
	padding: 0.3em;
	vertical-align: middle;
	border: 1px solid #CCCCCC;
	background-color: transparent;
}

.num{
	padding: 0.3em 0 0.3em 0.3em;
}

.drop {
	display: inline-block;
	vertical-align: middle;
	margin:  0.5em;
	padding: 0.3em;
	background: transparent;
	line-height: 1px;
	border: 1px solid white;
	border-radius: 2px;
}

.check{
	display: inline-block;
	vertical-align: middle;
	margin:  0.5em;
	padding: 0.3em;
	background: transparent;
	line-height: 1px;
	border: 1px solid white;
	border-radius: 2px;
}

.boton {
	vertical-align: middle;
	margin: 0.5em;
	padding: 0.3em;
	border: 0;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 16px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
}
.boton:hover {
	background: #28597a;
	color: #ccc;
}
.boton:active {
	background: #1b435e;
}

textarea{
	resize: none;
	box-sizing: content-box;
	line-height:1em;
	display:block;
}

a {
	color:#439Eff;
	text-decoration: none;
	text-shadow: none;
}

a:hover {
	color:#439Ebb;
	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	letter-spacing: -1px;
}

h1 {	font-size: 2em;
	margin: 1em;
}

h2 {	font-size: 1.8em;
	margin: 0.9em;
}

h3 {	font-size: 1.6em;
	margin: 0.8em;
}

h4 {	font-size: 1.4em;
	margin: 0.7em;
}

h5 {	font-size: 1.2em;
	margin: 0.6em;
}

h6 {	font-size: 1em;
	margin: 0.5em;
}

/***INTERACES PEQUEÑAS***/

@media screen and (max-width: 480px) {

}