#slider {
	position: relative;
	overflow: hidden;
	margin: auto;
	vertical-align: middle;
}

#slider ul {
	position: relative;
	list-style: none;
	vertical-align: middle;

}

#slider ul li {
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	vertical-align: middle;
}

#slider ul li img{
	width: 100%;
}

a.control_prev,
a.control_next {
	position: absolute;
	top: 40%;
	z-index: 999;
	display: block;
	padding: 4% 3%;
	width: auto;
	height: auto;
	background: #2a2a2a;
	color: #fff;
	text-decoration: none;
	font-weight: 900;
	font-size: bigger;
	opacity: 0.3;
	cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
	opacity: 1;
	-webkit-transition: all 0.5s ease;
}

a.control_prev {
	border-radius: 0 2px 2px 0;
	text-align:center;
}

a.control_next {
	right: 0;
	text-align:center;
	border-radius: 2px 0 0 2px;
}