/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides_container {
	margin-bottom: 50px;
	position: relative;
	float: left;
	width: 100%;
	}

.centered-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../img/slider/themes/themes.gif") no-repeat left top;
	margin-top: -45px;
	}

.centered-btns_nav:active {
	opacity: 1.0;
	}

.centered-btns_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
	}

.transparent-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 0;
	left: 0;
	display: block;
	background: #fff; /* Fix for IE6-9 */
	opacity: 0;
	filter: alpha(opacity=1);
	width: 48%;
	text-indent: -9999px;
	overflow: hidden;
	height: 91%;
	}

.transparent-btns_nav.next {
	left: auto;
	right: 0;
	}

.large-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	opacity: 0.3;
	text-indent: -9999px;
	overflow: hidden;
	top: 40%;
	bottom: 40%;
	min-height: 1.5rem;
	left: 0;
	background: #000 url("../img/slider/themes/themes.gif") no-repeat left 50%;
	width:1.7rem;
	}

.large-btns_nav:active {
	opacity: 0.5;
	}

.large-btns_nav.next {
	left: auto;
	background-position: right 50%;
	right: 0;
	}

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
	outline: none;
	}

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
	text-align: center;
	margin-top: -3rem;
	z-index: 4;
	}

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
	display: inline;
	float: none;
	_float: left;
	*float: left;
	margin-right: 5px;
	}

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #ccc;
	background: rgba(0,0,0, .2);
	display: inline-block;
	_display: block;
	*display: block;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
	width: 9px;
	height: 9px;
	}

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
	background: #222;
	background: rgba(0,0,0, .8);
	}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	max-height: 25rem;
	overflow-y: hidden;  

	}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
	}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
	}

.rslides img {
	height: auto;
	float: left;
	width: 100%;
	border: 0;
	}
.rslides {
	margin: 0 auto 0.2rem;
	}

.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0,0,0,.25);
	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	}

.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
	}

.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
	}

.rslides_tabs li:first-child {
	margin-left: 0;
	}

.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
	}

.events {
	list-style: none;
	}

.callbacks_container {
	position: relative;
	float: left;
	width: 100%;
	}

.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	}

.callbacks li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	}

.callbacks img {
	display: block;
	position: relative;
	z-index: 1;
	height: auto;
	width: 100%;
	border: 0;
	}

.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	background: #000;
	background: rgba(0,0,0, .8);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	}

.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("../img/slider/themes/themes.gif") no-repeat left top;
	margin-top: -45px;
	}

.callbacks_nav:active {
	opacity: 1.0;
	}

.callbacks_nav.next {
	left: auto;
	background-position: right top;
	right: 0;
	}